extend ../layout

block title
  | About Us

block content
  style

  h1 About Us
      if locals.user
        a(href='/about/edit')  (edit)

  each val, field in fields
    .about-field(class="about-field-" + val.key)
      b #{val.label}: 
      | #{val.value}
    br