<%= render(
  'html_head.html',
  {
    title:       'About',
    description: fields.summary,
  }
) %>

<div class="popit-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right">
      <% if (userCan('edit instance')) { %>
        <a class="btn btn-default" href="/about/edit">Edit details <span class="glyphicon glyphicon-chevron-right"></span></a>
      <% } else { %>
        <a class="btn btn-default" href="/login">Log in to edit <span class="glyphicon glyphicon-chevron-right"></span></a>
      <% } %>
    </div>
    <h1>About</h1>
  </div>
</div>

<div class="container">
  <dl class="dl-horizontal instance-details">
    <% _.each( fields, function ( val, field ) { %>
      <dt><%- val.label %>:</dt>
      <dd class="about-field about-field-<%- val.key %>">
        <% if ( val.type == 'checkbox' ) { %>
          <%- val.value ? 'Yes' : 'No' %>
        <% } else if (field === 'license') { %>
          <%= license %>
        <% } else { %>
          <%- val.value %>
        <% } %>
      </dd>
    <% }); %>
  </dl>

</div>

<%= render('html_footer.html' )%>
