<form action="<%= person.url %>" method="post" class="container entity person person-view editing">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="_add_another" value="0">

  <div class="entity-header">

    <%= render('person/image.html') %>

    <div class="entity-header__primary-property">
      <label for="input-name">Name</label>
      <input type="text" class="form-control" id="input-name" name="name" placeholder="John Doe" value="<%- person.name %>">
      <strong class="control-label edit-mode-error" style="display: none">This person must have a name</strong>
    </div>

  </div>

  <div class="entity-details">

    <ul class="nav nav-tabs">
      <li><a href="#political-career">Political career</a></li>
      <li><a href="#biography">Biography</a></li>
      <li><a href="#websites">Websites</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#sources">Sources</a></li>
      <li><a href="#advanced">Advanced</a></li>
    </ul>

    <div class="entity-details__section" id="biography">
      <% if (!person.other_names.length && !person.summary && !person.birth_date && !person.death_date) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add details</span>
          You can use PopIt to store extra information about this person, like who they are and when they were born.
        </p>
      <% } %>

      <div class="entity-details__property">
        <label>Other names</label>
        <ul class="other_names">
          <% _.each(person.other_names, function(name, i) { %>
            <li>
              <%= render('other_name/edit.html', {name: name, i: i}) %>
              <a href="#" class="other_name-delete">Delete</a>
            </li>
          <% }) %>
        </ul>
        <a class="add other_name-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(person.other_names.length){ %>nother<% } %> name</a>
      </div>

      <div class="entity-details__property">
        <label>Summary</label>
        <textarea class="form-control" name="summary"><%- person.summary %></textarea>
      </div>

      <div class="entity-details__property">
        <label>Born</label>
        <input type="date" class="form-control" name="birth_date" value="<%- person.birth_date || '' %>">
        <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
      </div>

      <div class="entity-details__property">
        <label>Died</label>
        <input type="date" class="form-control" name="death_date" value="<%- person.death_date || '' %>">
        <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
      </div>

    </div>

    <div class="entity-details__section" id="websites">
      <% if (!person.links.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add links to websites</span>
          If this person has a website, or any online profile pages, you can add them here.
        </p>
      <% } %>

      <div class="entity-details__property">
        <ul class="links">
          <% _.each(person.links, function(link, i) { %>
          <li>
            <%= render('link/edit.html', {link: link, i: i}) %>
            <a href="delete" class="link-delete">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add link-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(person.links.length){ %>nother<% } %> link</a>
      </div>
    </div>

    <div class="entity-details__section" id="contact">
      <% if (!person.contact_details.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add contact details</span>
          PopIt is most useful when people have contact details, like their phone, email, and Twitter.
        </p>
      <% } %>

      <div class="entity-details__property">

        <ul class="contact_details">
          <% _.each(person.contact_details, function(contact, i) { %>
          <li>
            <%= render('contact/edit.html', {contact: contact, i: i}) %>
            <a href="delete" class="contact-delete">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add contact-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add <% if ( person.contact_details.length > 0 ) { %>more <% } %>contact details</a>
      </div>
    </div>

    <div class="entity-details__section" id="political-career">
      <% if (!memberships.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add a membership</span>
          Is this person a member of an organization or party?
        </p>
      <% } %>

      <div class="entity-details__property">
        <ul class="cleared memberships">
          <% _.each( memberships, function (membership, i) { %>
            <% if (validMembership(membership, person.id)) { %>
            <li class="membership">
              <%= render('membership/new.html', { membership: membership, member: person, organization: relatedObject(membership, person, lang, defaultLang), type: 'person', i: i }) %>
            </li>
            <% } %>
          <% }); %>
        </ul>
        <a class="add add-membership btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(memberships.length){ %>nother<% } %> membership</a>
      </div>
    </div>

    <div class="entity-details__section" id="sources">
      <% if (!person.sources.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add sources</span>
          Add any URLs to documents from which the person is derived here.
        </p>
      <% } %>

      <div class="entity-details__property">
        <ul class="sources">
          <% _.each(person.sources, function(source, i) { %>
          <li>
          <%= render('source/edit.html', {source: source, i: i}) %>
          <a class="source-delete" href="#">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add source-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(person.sources.length){ %>nother<% } %> source</a>
      </div>
    </div>

    <div class="entity-details__section" id="advanced">
      <% if (!person.identifiers.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add identifiers</span>
          If this person has special registration or ID numbers, you can add them here.
        </p>
      <% } %>

      <div class="entity-details__property">
        <ul class="identifiers">
          <% _.each(person.identifiers, function(identifier, i) { %>
          <li>
          <%= render('identifier/edit.html', {identifier: identifier, i: i}) %>
          <a class="identifier-delete" href="#">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add identifier-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add an<% if(person.identifiers.length){ %>other<% } %> identifier</a>
      </div>
    </div>

  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save changes</button>
  </div>

</form>
