<form action="<%= person.url %>" method="post" class="container entity person person-view editing">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="_add_another" value="0">

  <div class="entity-header">

    <%= render('person/image.html') %>

    <div class="entity-header__primary-property">
      <label for="input-name">Name</label>
      <input type="text" class="form-control" id="input-name" name="name" placeholder="John Doe" value="<%- person.name %>">
      <strong class="control-label edit-mode-error" style="display: none">This person must have a name</strong>
      <%= render('field_source/edit.html', { field: 'field_sources[name]', value: person.get('field_sources.name') }) %>
    </div>

  </div>

  <div class="entity-details">

    <ul class="nav nav-tabs">
      <li><a href="#political-career">Political career</a></li>
      <li><a href="#biography">Biography</a></li>
      <li><a href="#websites">Websites</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#sources">Sources</a></li>
      <li><a href="#advanced">Advanced</a></li>
    </ul>

    <div class="entity-details__section" id="biography">
      <div class="entity-details__property">
        <label>Other names</label>
        <%= render( 'other_name/edit-list.html', { other_names: person.other_names, object: person } ) %>
        <a class="add other_name-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(person.other_names.length){ %>nother<% } %> name</a>
      </div>

      <div class="entity-details__property">
        <label>Summary</label>
        <div class="field-with-metadata">
          <textarea class="form-control" name="summary"><%- person.summary %></textarea>
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger-editing.html', { sourceText: person.get('field_sources.summary'), sourceID: 'source-summary-' + person.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display-editing.html', { sourceText: person.get('field_sources.summary'), sourceID: 'source-summary-' + person.id, field: 'field_sources[summary]' } )%>
      </div>

      <div class="entity-details__property">
        <label>Born</label>
        <div class="field-with-metadata">
          <input type="date" class="form-control" name="birth_date" value="<%- person.birth_date || '' %>">
          <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger-editing.html', { sourceText: person.get('field_sources.birth_date'), sourceID: 'source-birth_date-' + person.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display-editing.html', { sourceText: person.get('field_sources.birth_date'), sourceID: 'source-birth_date-' + person.id, field: 'field_sources[birth_date]' } )%>
      </div>

      <div class="entity-details__property">
        <label>Died</label>
        <div class="field-with-metadata">
          <input type="date" class="form-control" name="death_date" value="<%- person.death_date || '' %>">
          <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger-editing.html', { sourceText: person.get('field_sources.death_date'), sourceID: 'source-death_date-' + person.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display-editing.html', { sourceText: person.get('field_sources.death_date'), sourceID: 'source-death_date-' + person.id, field: 'field_sources[death_date]' } )%>
      </div>

    </div>

    <div class="entity-details__section" id="websites">
      <div class="entity-details__property">
        <%= render( 'link/edit-list.html', { links: person.links, object: person } ) %>
        <a class="add link-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(person.links.length){ %>nother<% } %> link</a>
      </div>
    </div>

    <div class="entity-details__section" id="contact">
      <div class="entity-details__property">
        <%= render( 'contact/edit-list.html', { contact_details: person.contact_details, object: person } ) %>
        <a class="add contact-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add <% if ( person.contact_details.length > 0 ) { %>more <% } %>contact details</a>
      </div>
    </div>

    <div class="entity-details__section" id="political-career">
      <div class="entity-details__property">
        <ul class="cleared memberships">
          <% _.each( memberships, function (membership, i) { %>
            <% if (validMembership(membership, person.id)) { %>
            <li class="membership">
              <%= render('membership/new.html', { membership: membership, member: person, organization: relatedObject(membership, person, lang, defaultLang), type: 'person', sourceText: person.get('field_sources.memberships.' + i), i: i }) %>
            </li>
            <% } %>
          <% }); %>
        </ul>
        <a class="add add-membership btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(memberships.length){ %>nother<% } %> membership</a>
      </div>
    </div>

    <div class="entity-details__section" id="sources">
      <div class="entity-details__property">
        <%= render( 'source/edit-list.html', { sources: person.sources, object: person } ) %>
        <a class="add source-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(person.sources.length){ %>nother<% } %> source</a>
      </div>
    </div>

    <div class="entity-details__section" id="advanced">
      <div class="entity-details__property">
        <ul class="identifiers">
          <% _.each(person.identifiers, function(identifier, i) { %>
          <li>
          <%= render('identifier/edit.html', {identifier: identifier, i: i}) %>
          <%= render('field_source/edit.html', { field: 'field_sources[identifier][' + i + ']', value: person.get('field_sources.identifier.' + i) }) %>
          <a class="identifier-delete" href="#">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add identifier-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add an<% if(person.identifiers.length){ %>other<% } %> identifier</a>
      </div>
    </div>

  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save changes</button>
  </div>

</form>
