extend ../layout

block title
  | People

block content
  .page-header
    h1 People
  
  p.admin-options
    a#new-person(href="/person/new") Create a new person

  if people.length
    ul
      for person in people
        li
          //- if person.images.length
          //-   img(src="/image/#{person.images[0]}-original", height="60")
          a(href="#{ person.slug_url }") #{ person.name }  

  else
    p.error There are no people in the system yet
