<%= render(
  'html_head.html',
  {
    title:       'People',
    description: 'A list of all the people.',
  }
) %>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/persons/">Get this data</a>
      </div>
      <div class="btn-group">
        <% if (userCan('edit instance')) { %>
          <a class="btn btn-default new-person add" href="/persons/new"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Add a new person</a>
        <% } else { %>
          <a class="btn btn-default" href="/login"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Log in to add a person</a>
        <% } %>
      </div>
    </div>
    <p><a href="/persons">People</a></p>
  </div>
</div>

<div class="container entity-list person">

<% if (people.length) { %>

  <ul class="row">
    <% _.each(people, function(person) { %>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a class="media" href="<%- person.url %>">
          <span class="pull-left media-object initials"><%- person.initials %></span>
          <div class="media-body">
            <h4><%- person.name %></h4>
            <% if (person.summary) { %>
              <p><%- person.summary %></p>
            <% } %>
          </div>
        </a>
      </li>
    <% }); %>
  </ul>

<% } else { %>
  <div class="empty-entity-message">

    <img src="/img/icon-persons.gif" width="115" height="85" alt="">

    <h2>There are no people in the system yet</h2>

    <% if (userCan('edit instance')) { %>
      <p>
        <a class="btn btn-primary new-person add" href="/persons/new">Add your first person</a>
        <a class="btn btn-default" href="/migration">Upload a CSV of people</a>
      </p>
    <% } %>

  </div>
<% } %>

<%= render('html_footer.html' )%>
