<%= render(
  'html_head.html',
  {
    title:       'People',
    description: 'A list of all the people.',
  }
) %>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/persons/">JSON API</a>
      </div>
      <div class="btn-group">
        <% if (user) { %>
          <a class="btn btn-default new-person add" href="#"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Add a new person</a>
        <% } else { %>
          <a class="btn btn-default" href="/login"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Log in to add a person</a>
        <% } %>
      </div>
    </div>
    <p><a href="/persons">People</a></p>
  </div>
</div>

<div class="container entity-list person">

<% if (people.length) { %>

  <ul>
    <% _.each(people, function(person) { %>
      <li>
        <a class="media" href="<%- person.slug_url %>">
          <!-- TODO: images or initials? -->
          <div class="media-body">
            <h4><%- person.name %></h4>
            <% if (person.summary) { %>
              <p><%- person.summary %></p>
            <% } %>
          </div>
        </a>
      </li>
    <% }); %>
  </ul>

<% } else { %>
  <div class="empty-entity-message">

    <!-- TODO: replace this with the people icon from the homepage -->
    <span class="glyphicon glyphicon-user"></span>

    <h2>There are no people in the system yet</h2>

    <p>
      <a class="btn btn-primary new-person add">Add your first person</a>
      <a class="btn btn-default" href="/migration">Upload a CSV of people</a>
    </p>

  </div>
<% } %>

<%= render('html_footer.html' )%>
