ul
  if items.length
    for person in items

      li
        //- if person.images.length
        //-   img(src="/image/#{person.images[0]}-original", height="60")
        a(href="#{ person.slug_url }") #{ person.name }  

  else
    li.error There are no people in the system yet
