<%= render(
  'html_head.html',
  {
    title:       'New Person',
    description: 'New Person',
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'person';
    popit.data = <%= JSON.stringify(person.toJSON()) %>;
</script>


<% if (user || guest) { %>
<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="btn btn-default entity-cancel-new-mode"><span class="glyphicon glyphicon-remove glyphicon-space-after"></span> Cancel</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-success entity-save-new"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save Person</a>
      </div>
    </div>
    <p><a href="/persons">People</a> / New Person</p>
  </div>
</div>

<article class="container entity person person-view editing" itemscope itemtype="http://schema.org/Person">

  <div class="entity-header">

    <div class="entity-header__photo">
      <img src='/img/placeholder-person.gif' width="128" />
    </div>

    <div class="entity-header__primary-property">
      <label for="input-name">Name</label>
      <input type="text" class="form-control view-mode" data-api-name="name" placeholder="John Doe">
    </div>

    <div class="entity-header__secondary-property" style="float:none">
      <label for="input-party">Summary</label>
      <input type="text" class="form-control" data-api-name="summary" placeholder="Republican">
    </div>

  </div>

</article>
<% } else { %>
<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="add btn btn-default" href="/login">Log in to add a new person <span class="glyphicon glyphicon-chevron-right glyphicon-space-before"></span></a>
      </div>
    </div>
    <p><a href="/persons">People</a> / <span style="margin-left: 5px">New Person</span></p>
  </div>
</div>

<div class="container fourohfour-container">

  <span class="glyphicon glyphicon-remove"></span>

  <h1>You must be logged in to do that</h1>

  <p style="margin-top: 30px;"><a class="btn btn-primary" href="/login">Log in to add a new person <span class="glyphicon glyphicon-chevron-right glyphicon-space-before"></span></a></p>

</div>
<% } %>

<%= render('html_footer.html' )%>
