<%= render(
  'html_head.html',
  {
    title:       'New Person',
    description: 'New Person',
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'person';
    popit.data = <%= JSON.stringify(person.toJSON()) %>;
</script>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="btn btn-default entity-cancel-new-mode"><span class="glyphicon glyphicon-remove glyphicon-space-after"></span> Cancel</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-success entity-save-new"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save Person</a>
      </div>
    </div>
    <p><a href="/persons">People</a> / New Person</p>
  </div>
</div>

<article class="container entity person person-view" itemscope itemtype="http://schema.org/Person">

  <dl class="dl-horizontal">

    <dt class="entity-attr-name">Name</dt>
    <dd class="entity-attr-name">
      <input type="text" class="form-control view-mode" data-api-name="name" value="">
    </dd>

    <dt>Summary</dt>
    <dd itemprop="description">
      <textarea class="form-control view-mode" data-api-name="summary"></textarea>
    </dd>

    <dt>Born</dt>
    <dd>
      <input type="date" class="form-control view-mode" data-api-name="birth_date" value="">
    </dd>

    <dt>Died</dt>
    <dd>
      <input type="date" class="form-control view-mode" data-api-name="death_date" value="">
    </dd>

</article>

<%= render('html_footer.html' )%>
