form(method="post", action="#")
  //- #person_new_name

  div
    label Name
    input(name="name", value=person.name)
    span.error

  #person_new_slug
    label Slug
    input(name="slug", value=person.slug)
    span.help

  input(type="submit", value="Create new person")
