<%= render(
  'html_head.html',
  {
    title:       person.name,
    description: person.name + ': ' + ( person.summary || '' ),
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'person';
    popit.data = <%= JSON.stringify(person.toJSON()) %>;
    popit.memberships = <%= JSON.stringify( _.map( memberships, function(m) { return m.id; } ) ) %>;
</script>

<article class="entity person" itemscope itemtype="http://schema.org/Person">

  <header class="entity-header-nav" id="person-<%- person.slug %>">
    <h1 class="current-entity edit-in-place"
        id="entity-name-in-header"
        title="<%- person.name %>"
        data-api-name="name"
    ><%- person.name %></h1>
  </header>
    
  <aside>
    <ul class="photos">
      <% if (person.images.length) { %>
        <% _.each( person.images, function(image) { %>
          <li>
            <% if (image.url) { %>
              <% // TODO - proxy will need changes to allow us to proxy remote images %>
              <img src="<%- image.url %>" width="280" />
            <% } else { %>
              <img src="<%- image_proxy(person.url + "/images/" + image.id, "", 280) %>" />
            <% } %>

            <p class="photo-source">
              source:
              <a href="#photographer-url">Photographer</a>
              <abbr class="license" title="Creative Commons - By Attribution - Share Alike">CC-BY-SA</abbr>
            </p>
            <div class="admin-options">
              <a class="delete-photo" data-image-url="<%- person.url %>/images/<%- image.id %>">
                <i class="foundicon-trash"></i>
                Delete this photograph
              </a>
            </div>
          </li>
        <% }); %>
      <% } else { %>
        <li>
          <img src='/img/person_placeholder.svg' width="280" />
        </li>
      <% } %>
    </ul>
    <ul class="admin-options">
      <li>
        <a class="add" href="<%- person.url %>/images/upload">
          <strong>+ add</strong>
          a photograph
        </a>
      </li>
    </ul>
  </aside>
    
  <ul class="admin-options">
    <li>
      <a class="delete delete-person">
        <i class="foundicon-trash"></i> delete
        this person
      </a>
    </li>
  </ul>
  
  
  <section class="description" itemprop="description">
                
    <p
      id="entity-summary-text"
      class="edit-in-place-textarea"
      data-api-name="summary"
    ><%- person.summary %></p>
  
    <ul class="detail-list">

      <li class="personal_details-birth_date">
        <%= render( 'partial-date/view.html', {
          date:             person.birth_date,
          title:            "Date of birth",
          data_api_name: "birth_date",
        }) %>
      </li>

      <li class="personal_details-death_date">
        <%= render( 'partial-date/view.html', {
          date:             person.death_date,
          title:            "Date of death",
          data_api_name: "death_date",
        }) %>
      </li>

    </ul>
  
  </section>

  <%= render( 'other_name/list.html', { other_names: person.other_names } ) %>

  <section class="memberships">

    <div class="admin-options">
      <a class="add edit-membership"><i class="foundicon-add-doc"></i> <span>Add</span></a>
    </div>

    <h2>Memberships held now or in the past:</h2>

    <ul class="cleared">
      <% _.each( memberships, function (membership) { %>
        <%= render( 'membership/list-item.html', { membership: membership, type: 'person' } ) %>
      <% }); %>

    </ul>
  </section>

  <%= render( 'contact/list.html', { contacts: person.contact_details } ) %>
  <%= render( 'link/list.html', { links: person.links } ) %>
  <%= render( 'identifier/list.html', { identifiers: person.identifiers } ) %>

  <section class="custom-data">
    <h2>Custom data:</h2>
    <div id="jsoneditor"></div>
  </section>

  <section class="raw-data">
    
    <h2>Raw data</h2>
    
    <p>
      The details for this person are also available in 
      <a href="/api/v0.1/persons/<%- person.id %>">JSON</a>.
    </p>

  </section>

</article>

<%= render('html_footer.html' )%>
