<%= render(
  'html_head.html',
  {
    title:       person.name,
    description: person.name + ': ' + ( person.summary || '' ),
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'person';
    popit.data = <%= JSON.stringify(person.toJSON()) %>;
    popit.memberships = <%= JSON.stringify( _.map( memberships, function(m) { return m.id; } ) ) %>;
</script>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/persons/<%- person.id %>">Get this data</a>
      </div>
      <div class="btn-group">
        <% if (user || guest) { %>
          <a id="edit-person" class="btn btn-default entity-enter-edit-mode">Edit person <span class="glyphicon glyphicon-chevron-right"></span></a>
        <% } else { %>
          <a class="btn btn-default" href="/login">Log in to edit <span class="glyphicon glyphicon-chevron-right"></span></a>
          <% } %>
      </div>
    </div>

    <div class="btn-toolbar pull-right edit-mode">
      <div class="btn-group">
        <a id="cancel-person-edit" class="btn btn-default entity-leave-edit-mode"><span class="glyphicon glyphicon-remove glyphicon-space-after"></span> Cancel</a>
      </div>
      <div class="btn-group">
        <a id="delete-person" class="btn btn-danger entity-delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span> Delete person</a>
      </div>
      <div class="btn-group">
        <a id="save-person" class="btn btn-success entity-save-changes"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save changes</a>
      </div>
    </div>

    <p><a href="/persons">People</a> / <a href="<%- person.url %>"><%- person.name %></a></p>
  </div>
</div>

<article class="container entity person person-view" itemscope itemtype="http://schema.org/Person">

  <!-- Remember: we also need to change new.html to match this top section -->

  <div class="entity-header">

    <div class="entity-header__photo">
      <% if (person.images.length) { %>
        <% if (person.images[0].url) { %>
          <% // TODO - proxy will need changes to allow us to proxy remote images %>
          <img src="<%- person.images[0].url %>" width="128" />
        <% } else { %>
          <img src="<%- image_proxy(image_url('person', person, person.images[0]), "", 128) %>" />
        <% } %>
        <% if (user || guest) { %>
        <a class="delete-photo" data-image-url="<%- image_url( 'person', person, person.images[0] ) %>">
          <span class="glyphicon glyphicon-trash glyphicon-space-after"></span> Delete photo
        </a>
        <% } %>
      <% } else { %>
        <img src='/img/placeholder-person.gif' width="128" />
        <% if (user || guest) { %>
        <a class="add-photo" href="<%- person.url %>/images/upload">
          <span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Add photo
        </a>
        <% } %>
      <% } %>
    </div>

    <div class="entity-header__primary-property">
      <label for="input-name">Name</label>
      <h1 itemprop="name" class="view-mode" data-api-name="name">
        <%- person.name %>
        <% if (user || guest) { %>
          <span class="entity-little-edit-icon entity-enter-edit-mode" data-input-selector="#input-name"></span>
        <% } %>
      </h1>
      <input type="text" class="form-control edit-mode" id="input-name" data-api-name="name" placeholder="John Doe" value="<%- person.name %>">
      <strong class="control-label edit-mode-error" style="display: none">This person must have a name</strong>
    </div>

    <div class="entity-header__secondary-property">
      <label for="input-party">Party</label>
      <p itemprop="name" class="view-mode" data-api-name="organization">
        <% if (person.party) { %>
          <a href="<%- person.party.url %>"><%- person.party.name %></a>
          <% if (user || guest) { %>
            <span class="entity-little-edit-icon entity-enter-edit-mode" data-input-selector="#input-party"></span>
          <% } %>
          <input type="hidden" class="edit-mode" data-api-name="organization_id" value="<%- person.party.id %>">
        <% } else { %>
          <% if (user || guest) { %>
            <span class="placeholder entity-enter-edit-mode" data-input-selector="#input-party">Is <%- person.name %> in a party?</span>
          <% } %>
        <% } %>
      </p>
      <input type="text" class="form-control edit-mode" id="input-party" data-api-name="organization" placeholder="Republican" <% if (person.party) { %>value="<%- person.party.name %>"<% } %>>
    </div>

    <div class="entity-header__secondary-property">
      <label for="input-constituency">Represents</label>
      <p itemprop="name" class="view-mode" data-api-name="membership-area">
        <% if (person.constituency) { %>
          <%- person.constituency %>
          <% if (user || guest) { %>
            <span class="entity-little-edit-icon entity-enter-edit-mode" data-input-selector="#input-constituency"></span>
          <% } %>
        <% } else { %>
          <% if (user || guest) { %>
            <span class="placeholder entity-enter-edit-mode" data-input-selector="#input-constituency">What area does <%- person.name %> represent?</span>
          <% } %>
        <% } %>
      </p>
      <input type="text" class="form-control edit-mode" id="input-constituency" data-api-name="membership-area" placeholder="Witney" value="<%- person.constituency %>">
    </div>

    <div class="entity-header__social">
      <% _.each( person.contact_details, function (item) { %>
        <% if (item.type.toLowerCase() == 'twitter') { %>
          <a href="http://twitter.com/<%= item.value %>" title="@<%= item.value %> on Twitter" class="socicon socicon-color socicon-twitter"></a>
        <% } else if (item.type.toLowerCase() == 'facebook') { %>
          <a href="http://facebook.com/<%= item.value %>" title="facebook.com/<%= item.value %>" class="socicon socicon-color socicon-facebook"></a>
        <% } %>
      <% }) %>
    </div>

  </div>

  <div class="entity-details">

    <ul class="nav nav-tabs">
      <li class="<% if (!person.other_names.length && !person.summary && !person.birth_date && !person.death_date) { %>empty<% } %>"><a href="#biography">Biography</a></li>
      <li class="<% if (!person.links.length) { %>empty<% } %>"><a href="#websites">Websites</a></li>
      <li class="<% if (!person.contact_details.length) { %>empty<% } %>"><a href="#contact">Contact</a></li>
      <li class="<% if (!memberships) { %>empty<% } %>"><a href="#political-career">Political career</a></li>
      <li class="<% if (!false) { %>empty<% } %>"><a href="#career">Career</a></li>
      <li class="<% if (!person.identifiers.length) { %>empty<% } %>"><a href="#advanced">Advanced</a></li>
    </ul>

    <div class="entity-details__section" id="biography">

      <div class="entity-details__property <% if(!person.other_names.length){ %>empty<% } %>">
        <label>Other names</label>
        <%= render( 'other_name/list.html', { other_names: person.other_names } ) %>
      </div>

      <div class="entity-details__property <% if(!person.summary){ %>empty<% } %>">
        <label>Summary</label>
        <p class="view-mode" itemprop="description" data-api-name="summary"><%- person.summary %></p>
        <textarea class="form-control edit-mode" data-api-name="summary"><%- person.summary %></textarea>
      </div>

      <div class="entity-details__property <% if(!person.birth_date){ %>empty<% } %>">
        <label>Born</label>
        <p class="view-mode" data-api-name="birth_date"><%- person.birth_date || '' %></p>
        <input type="date" class="form-control edit-mode" data-api-name="birth_date" value="<%- person.birth_date || '' %>">
        <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
      </div>

      <div class="entity-details__property <% if(!person.death_date){ %>empty<% } %>">
        <label>Died</label>
        <p class="view-mode" data-api-name="death_date"><%- person.death_date || '' %></p>
        <input type="date" class="form-control edit-mode" data-api-name="death_date" value="<%- person.death_date || '' %>">
        <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
      </div>

    </div>

    <div class="entity-details__section" id="websites">
      <div class="entity-details__property <% if(!person.links.length){ %>empty<% } %>">
        <label>Links</label>
        <%= render( 'link/list.html', { links: person.links } ) %>
      </div>
    </div>

    <div class="entity-details__section" id="contact">
      <div class="entity-details__property <% if(!person.contact_details.length){ %>empty<% } %>">
        <label>Contact details</label>
        <%= render( 'contact/list.html', { contact_details: person.contact_details } ) %>
      </div>
    </div>

    <div class="entity-details__section" id="political-career">
      <div class="entity-details__property <% if(!memberships){ %>empty<% } %>">
        <label>Memberships</label>
        <ul class="cleared memberships">
          <% _.each( memberships, function (membership) { %>
            <%= render( 'membership/list-item.html', { membership: membership, type: 'person' } ) %>
          <% }); %>
          <li class="edit-mode">
            <a class="add edit-membership btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(memberships.length){ %>nother<% } %> membership</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="entity-details__section" id="career">
    </div>

    <div class="entity-details__section" id="advanced">
      <div class="entity-details__property <% if(!person.identifiers.length){ %>empty<% } %>">
        <label>Identifiers</label>
        <%= render( 'identifier/list.html', { identifiers: person.identifiers } ) %>
      </div>
    </div>
  </div>

  <section class="custom-data" style="display: none">
    <h2>Custom data:</h2>
    <div id="jsoneditor"></div>
  </section>

</article>

<%= render('html_footer.html' )%>
