<%= render(
  'html_head.html',
  {
    title:       person.name,
    description: person.name + ': ' + ( person.summary || '' ),
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'person';
    popit.data = <%= jsonify(person.toJSON()) %>;
    popit.memberships = <%= jsonify( _.map( memberships, function(m) { return m.id; } ) ) %>;
</script>

<% if (userCan('edit instance')) { %>
<div class="popit-toolbar enough-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-default carry-on-editing">Carry on editing</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-success entity-save-and-add-another"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save and add another person</a>
      </div>
    </div>
    <p>Great! You&rsquo;ve added enough information for now.</p>
  </div>
</div>
<% } %>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/persons/<%- encodeURIComponent(person.id) %>">Get this data</a>
      </div>
      <div class="btn-group">
        <% if (userCan('edit instance')) { %>
          <a href="<%= person.url %>/edit" id="edit-person" class="btn btn-default entity-enter-edit-mode">Edit person <span class="glyphicon glyphicon-chevron-right"></span></a>
        <% } else { %>
          <a class="btn btn-default" href="/login">Log in to edit <span class="glyphicon glyphicon-chevron-right"></span></a>
          <% } %>
      </div>
    </div>
    <div class="btn-toolbar pull-right edit-mode">
      <div class="btn-group">
        <a href="<%= person.url %>" class="btn btn-default entity-leave-edit-mode"><span class="glyphicon glyphicon-remove glyphicon-space-after"></span> Cancel</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-danger entity-delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span> Delete person</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-success entity-save-changes"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save changes</a>
      </div>
    </div>
    <p><a href="/persons">People</a> / <a href="<%- person.url %>"><%- person.name %></a></p>
  </div>
</div>

<%= render("language-switcher.html", { altLang: altLang, default: defaultLang, lang: lang } ) %>

<article class="container entity person person-view" itemscope itemtype="http://schema.org/Person">

  <!-- Remember: we also need to change new.html to match this top section -->

  <div class="entity-header">

      <%= render('person/image.html') %>

    <div class="entity-header__primary-property">
      <label for="input-name">Name</label>
      <h1 itemprop="name" class="view-mode" data-api-name="name">
        <%- person.name %>
        <span class="entity-little-edit-icon entity-enter-edit-mode" data-input-selector="#input-name"></span>
      </h1>
      <%= render('field_source/view.html', { value: person.get('field_sources.name') }) %>
    </div>

    <div class="entity-header__social">
      <% _.each( person.contact_details, function (item) { %>
        <% if (item.type.toLowerCase() == 'twitter') { %>
          <a href="http://twitter.com/<%= item.value %>" title="@<%= item.value %> on Twitter" class="socicon socicon-color socicon-twitter"></a>
        <% } else if (item.type.toLowerCase() == 'facebook') { %>
          <a href="http://facebook.com/<%= item.value %>" title="facebook.com/<%= item.value %>" class="socicon socicon-color socicon-facebook"></a>
        <% } %>
      <% }) %>
    </div>

  </div>

  <div class="entity-details">

    <ul class="nav nav-tabs">
      <li class="<% if (!memberships) { %>empty<% } %>"><a href="#political-career">Political career</a></li>
      <li class="<% if (!person.other_names.length && !person.summary && !person.birth_date && !person.death_date) { %>empty<% } %>"><a href="#biography">Biography</a></li>
      <li class="<% if (!person.links.length) { %>empty<% } %>"><a href="#websites">Websites</a></li>
      <li class="<% if (!person.contact_details.length) { %>empty<% } %>"><a href="#contact">Contact</a></li>
      <!-- <li class="<% if (!false) { %>empty<% } %>"><a href="#career">Career</a></li> -->
      <li class="<% if (!person.sources.length) { %>empty<% } %>"><a href="#sources">Sources</a></li>
      <li class="<% if (!person.identifiers.length) { %>empty<% } %>"><a href="#advanced">Advanced</a></li>
    </ul>

    <div class="entity-details__section" id="political-career">
      <div class="entity-details__property <% if(!memberships){ %>empty<% } %>">
        <ul class="cleared memberships">
          <% _.each( memberships, function (membership, i) { %>
            <% if (validMembership(membership, person.id)) { %>
            <li class="membership">
              <%= render( 'membership/list-item.html', { membership: membership, member: person, organization: relatedObject(membership, person, lang, defaultLang), type: 'person', sourceText: person.get('field_sources.memberships.' + i) } ) %>
            </li>
            <% } %>
          <% }); %>
        </ul>
      </div>

      <% if (!memberships.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add a membership</span>
          Is this person a member of an organization or party?
        </p>
      <% } else { %>
          <span class="entity-details__hint view-mode entity-enter-edit-mode btn btn-xs btn-default">Add another membership</span>
      <% } %>
    </div>

    <div class="entity-details__section" id="biography">
      <% if (!person.other_names.length && !person.summary && !person.birth_date && !person.death_date) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add details</span>
          You can use PopIt to store extra information about this person, like who they are and when they were born.
        </p>
      <% } %>

      <div class="entity-details__property <% if(!person.other_names.length){ %>empty<% } %>">
        <label>Other names</label>
        <%= render( 'other_name/view-list.html', { other_names: person.other_names, object: person } ) %>
      </div>

      <div class="entity-details__property <% if(!person.summary){ %>empty<% } %>">
        <label>Summary</label>
        <div class="field-with-metadata">
          <p class="view-mode" itemprop="description" data-api-name="summary"><%- person.summary %></p>
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger.html', { sourceText: person.get('field_sources.summary'), sourceID: 'source-summary-' + person.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display.html', { sourceText: person.get('field_sources.summary'), sourceID: 'source-summary-' + person.id } )%>
      </div>

      <div class="entity-details__property <% if(!person.birth_date){ %>empty<% } %>">
        <label>Born</label>
        <p class="view-mode" data-api-name="birth_date"><%- person.birth_date || '' %></p>
        <%= render('field_source/view.html', { value: person.get('field_sources.birth_date') }) %>
      </div>

      <div class="entity-details__property <% if(!person.death_date){ %>empty<% } %>">
        <label>Died</label>
        <p class="view-mode" data-api-name="death_date"><%- person.death_date || '' %></p>
        <%= render('field_source/view.html', { value: person.get('field_sources.death_date') }) %>
      </div>

    </div>

    <div class="entity-details__section" id="websites">
      <div class="entity-details__property <% if(!person.links.length){ %>empty<% } %>">
        <%= render( 'link/list.html', { links: person.links, object: person } ) %>
      </div>

      <% if (!person.links.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add links to websites</span>
          If this person has a website, or any online profile pages, you can add them here.
        </p>
      <% } else { %>
        <span class="entity-details__hint view-mode entity-enter-edit-mode btn btn-xs btn-default">Add another link</span>
      <% } %>
    </div>

    <div class="entity-details__section" id="contact">
      <div class="entity-details__property <% if(!person.contact_details.length){ %>empty<% } %>">
        <%= render( 'contact/list.html', { contact_details: person.contact_details, object: person } ) %>
      </div>

      <% if (!person.contact_details.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add contact details</span>
          PopIt is most useful when people have contact details, like their phone, email, and Twitter.
        </p>
      <% } else { %>
        <span class="entity-details__hint view-mode entity-enter-edit-mode btn btn-xs btn-default">Add more contact details</span>
      <% } %>
    </div>

    <!-- <div class="entity-details__section" id="career"></div> -->

    <div class="entity-details__section" id="sources">
      <div class="entity-details__property <% if(!person.sources.length){ %>empty<% } %>">
        <%= render( 'source/list.html', { sources: person.sources, object: person } ) %>
      </div>

      <% if (!person.sources.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add sources</span>
          Add any URLs to documents from which the person is derived here.
        </p>
      <% } else { %>
          <span class="entity-details__hint view-mode entity-enter-edit-mode btn btn-xs btn-default">Add another source</span>
      <% } %>
    </div>

    <div class="entity-details__section" id="advanced">
      <div class="entity-details__property <% if(!person.identifiers.length){ %>empty<% } %>">
        <%= render( 'identifier/list.html', { identifiers: person.identifiers, object: person } ) %>
      </div>

      <% if (!person.identifiers.length) { %>
        <p class="entity-details__hint view-mode entity-enter-edit-mode">
          <span class="btn btn-xs btn-default pull-right">Add identifiers</span>
          If this person has special registration or ID numbers, you can add them here.
        </p>
      <% } else { %>
          <span class="entity-details__hint view-mode entity-enter-edit-mode btn btn-xs btn-default">Add another identifier</span>
      <% } %>
    </div>

    <%= render('disclaimer.html' )%>
  </div>

  <section class="custom-data" style="display: none">
    <h2>Custom data:</h2>
    <div id="jsoneditor"></div>
  </section>

</article>

<% if (userCan('edit instance')) { %>
<div class="edit-form">
  <%= render('person/form.html') %>
</div>
<% } %>

<%= render('html_footer.html' )%>
