#new-position
  form(name="create-new-position")

    p
      label Title
      input(name="title", style="width:100%;")

    p
      label Person
      input(name="person", style="width:100%;")

    p
      label Organisation
      input(name="organisation", style="width:100%;")

    p
      input(type='submit', value="Create new position")
