#new-position

  h2 Create a new position
  
  form(name="create-new-position")

    ul.error
    
    p.title
      label Title
      input(name="title", style="width:100%;")

    p.person
      label Person
      input(name="person", style="width:100%;")

    p.organisation
      label Organisation
      input(name="organisation", style="width:100%;")

    p
      input(type='submit', value="Create new position")
