/* Styles for the About, API, Login pages, etc */

.instance-details {
  margin-top: 24px;
  margin-bottom: 24px;

  dd {
    margin-bottom: 1em;
  }
}

.edit-instance-details {

  dd {
    margin-bottom: 1.5em;
  }

  textarea {
    height: 60px;
    min-height: 0;
  }

  & + button {
    margin-left: 180px;
    margin-bottom: 24px;
  }
}


.login-form {
  width: 320px;
  min-width: 0;
  padding: 40px 0;

  @media (min-width: $screen-sm-min) {
    padding: 60px 0;
  }

  @media (min-width: $screen-sm-min) and (min-height: 700px) {
    padding: 80px 0;
  }

  h1 {
    margin: 0 0 20px 0;
  }
}
