/* Colours */

$edit-in-place-background-color: #ffffdd;

$header-footer-background: #D9DEE0;
$content-background: #fff;
$header-link-color: #13465A;
$header-link-hover-color: #009FC7;

$light-grey-background: #EDF1F3;
