/* Baseline Styles - Starting point for custom user themes */

$header-footer-background: #E2E8EB;
$content-background: #fff;
$header-footer-link-color: #13465A;
$header-footer-link-hover-color: #009FC7;

body, #header, #footer {
  background-color: $header-footer-background;
}

#header, #footer {
  a {
    color: $header-footer-link-color;

    &:hover {
      color: $header-footer-link-hover-color;
    }
  }
}

#content, .homepage-setup-guide, .homepage-api-guide {
  background-color: $content-background;
}

.homepage-summaries {
  background-color: #F3F5F6;
}

h1.logo {
  float: left;
  line-height: 50px;
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;

  a {
    display: block;
  }
}

#nav {
  @include list-reset;
  float: right;
  font-size: 0.9em;

  li {
    float: left;

    a, form {
      display: inline-block;
      padding: 0 10px;
      line-height: 50px;
    }

    form {
      padding-right: 0;
      padding-top: 12px; /* this is a really bad way to vertically position the search box */
    }
  }
}

#header_search_box {
  @include radius($global-rounded);
  padding: 0.3em 0.8em;
  margin: 0;
  height: auto;
  width: 100px;
}

#footer {
  padding: 2em 0;

  ul, p {
    font-size: 0.9rem;
  }

  @media #{$medium-up} {
    ul {
      margin-left: 0;
    }
  }

  .footer-logo {
    margin-bottom: 0.2em;

    img {
      margin-top: -3px; /* compensate for the empty looking image */
      max-height: 30px;
    }
  }

  .copyright, #instance-app-activated {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #666;
    margin-bottom: 0.4em;
  }
}
