/* Baseline Styles - Starting point for custom user themes */

body{
	//	Here until the responsive bit is working
		min-width: 60em;
}


// -----------------------
//	Main Page Header, Logo SigninBox
// -----------------------
header#header{
	max-width: 60em;
	
	padding: 0.625em;
	margin: auto;
  height : 5em;
	
	h1.logo{
		color: #4D4D4D;
		max-width:100%;
		margin:0;
  	float:left;
//    width: 9.667em;
		
		a{
			display:block;
			color: #4D4D4D;
			text-decoration:none;
		}
		
		
		abbr{
			border:none;
			text-decoration:none;
			color: #333333;
		}
	}

  .tagline {
    float: left;
    clear: left;
    opacity: 0.5;
    font-size: 0.75em;
  }
}
body.brand_page header#header h1.logo{
	
	@media screen and (min-width: 60em){
		font-size: 3.75em;
		margin: 0.35em 0;
	}
}

//	Main Menu Signin Box
// -----------------------

#user_menu
{
	font-size: 0.875em;
  text-align: right;
  float:right;

  ul {
    margin: 0.5em 0 0 0;
    li {
      display: inline;
      list-style: none;
      padding: 0 0 0 0.5em;
    }
  }
		
	.username{
		font-weight: bold;
	}

}

body.brand_page #user_menu{
	@media screen and (min-width: 60em){
		padding-top: 4.4286em;
	}
}


// -----------------------
//	Main Content Area
// -----------------------
#content{
	clear:both;
	max-width: 60em;
	padding-top:1.25em;
	margin: auto;
	padding: 0 1em;
	
	h1{
		.long-title{
			display:none;
		}
	}
}
.person{
	p{
		font-size: 1.125em;
		line-height: 1.667em;
	}
}
p.intro{
	line-height: 1.667em;
	max-width:100%;
	width: 35em;
}

// -----------------------
//	Login Form
// -----------------------
.login-form{
	padding: 0.625em 0.625em 0.625em 4.375em;
}

// -----------------------
//	New Instance Form
// -----------------------
#slug{
	text-transform:lowercase;
}


// -----------------------
//	Person Header and nav
// -----------------------
header.person-header-nav{
	
	margin-left:-1.6875em;
	margin-right: -1.6875em;
	margin-bottom:1em;
	float:left;
	clear:both;
	width: 63.375em;
	
	nav{
		display:inline;
	}
	&>*, nav>a{
		display: inline-block;
		vertical-align:top;
		height: 3.75em;
		overflow:hidden;
	}
	
	.find-person{
		margin:0;
		float:right;
//		width: 7.5em;
		width: 10.875em;
		padding: 1.25em 1.25em 1.25em 2.5em;
		background: #cbcbcb url(../img/search.png) no-repeat scroll 0.625em center;
		
		label{
			display:none;
		}
		
		input{
			vertical-align:middle;
			width:100%;
			opacity:0.5;
			&:focus{
				opacity:1;
			}
		}
	}
	&.focus-search .find-person{
		width: 29.5em;
	}
	
	.current-person{
    width: 100%;
//    width: 16em;
		height: 2em;
		float:left;
		background-color: #dbdbdb;
		margin:0;
		padding: 0.5em;
		font-size:1.875em;
		text-align: center;
		font-family: 'MuseoSlab500', 'sans-serif';
		font-weight: normal;
		overflow:hidden;
		text-overflow: ellipsis; 
		white-space: nowrap;
	}
	&.focus-search .current-person{
		width: 6em;
	}
	
	.find-person, .current-person{
		-webkit-transition: width 0.5s ease-out;
		   -moz-transition: width 0.5s ease-out;
		     -o-transition: width 0.5s ease-out;
		        transition: width 0.5s ease-out;
	}
	
	a.previous-person, a.next-person{
		width:11.25em;
		float:left;
		text-decoration: none;
		color: #fff;
		background-color: #b3b3b3;
		padding:0.75em 0.625em 0.75em 2.8125em;
		margin:0;
		background: #b3b3b3 url(../img/arrow-left.png) no-repeat scroll left center;
		
		em{
			text-transform: uppercase;
			font-style: normal;
			font-size: 0.625em;
			color: #e5e5e5;
		}
		strong{
			display:block;
			overflow:hidden;
			text-overflow: ellipsis;
			width:100%;
			color:#eeeeee;
		}
		&:hover strong{
			color:#fff;
		}
		
//		&:hover{
//			margin-top:-3px;
//		}
	}
	a.next-person{
		text-align: right;
		padding:0.75em 2.8125em 0.75em 0.625em;
		background: #b3b3b3 url(../img/arrow-right.png) no-repeat scroll right center;
		float:right;
	}
}



.admin-options{
	padding:0;
	margin:0;
	text-indent:0;
	list-style:none;
	
	a{
		font-size: 0.875em;
		color: rgba(76, 76, 76, 0.3);
		text-shadow: rgba(0,0,0,0) 0 0 0;
		-webkit-transition: opacity, color 0.3s linear;
		   -moz-transition: opacity, color 0.3s linear;
		     -o-transition: opacity, color 0.3s linear;
		        transition: opacity, color 0.3s linear;
		&.add strong{
			color: #7aa701;
		}
		&.edit strong{
			color: #c26400;
		}
		&.delete strong{
			color: #c20000;
		}
	}
}



article.person{

  .admin-options {
    float:right;    
  }
	
	section:hover .admin-options a
	{
		color: rgba(76, 76, 76, 1);
	}
	
	.photos li:hover a,
	aside a.add
	{
		color: rgba(76, 76, 76, 1);
		opacity:1;
	}
	
	&>aside{
		width:18.75em;
		float:left;
		padding:0.625em;
		
		.admin-options{
			float:left;
			margin-bottom:2em;
		}
		
		ul.photos,
		ul.photos li{
			display:block;
			padding:0;
			margin:0;
			list-style:none;
		}
		ul.photos>li{
			.photo-source{
				display:block;
				text-align:right;
				font-size: 0.625em;
				width:28em;
				color:#999;
				margin:-0.6em 0 0 0;
				opacity:0.2;
				//background-color: #fff;
				a{color:#999;}
				-webkit-transform: rotate(-90deg) translate(15%, -15em);
				   -moz-transform: rotate(-90deg) translate(15%, -15em);
				    -ms-transform: rotate(-90deg) translate(15%, -15em);
				     -o-transform: rotate(-90deg) translate(15%, -15em);
				        transform: rotate(-90deg) translate(15%, -15em);
					-webkit-transition: opacity 0.3s linear;
					   -moz-transition: opacity 0.3s linear;
					     -o-transition: opacity 0.3s linear;
					        transition: opacity 0.3s linear;
			}
			&:hover .photo-source{
				opacity:1;
			}
		}
		img{
			max-width:100%;
		}
		
	}
	&>section{
		border-top: 1px solid #ddd;
		float:right;
		padding:0.625em;
		margin-top:0.625em;
		width:37.5em;
		h2{
			margin-top:0;
		}
	}
	
	.description{
		p{
			font-size:1.125em;
			line-height: 1.667em;
		}
	}
	
	&>footer{
		clear:both;
	}
	
}
// Just to demo design states admin options shouldn't be in the html if not signed in.
.admin-options{ visibility:hidden; }
body.signed_in .admin-options{ visibility: visible; }



// -----------------------
//	Main Page Footer
// -----------------------
#footer{
	clear:both;
	width:100%;
	background-color:#eeeeee;
	padding: 2.5em 0;
//  line-height:1.875em;
	color:#666666;
	margin-top: 3em;
//  text-align: center;
	
	.mysociety-logo{
		display:block;
	}
	
	&>div{
		max-width:60em;
		margin:auto;
		clear:both;
	}
	
	#sitemap{
//    width: 22.5em;
//    float:left;
//    padding:0.625em;
		
		ul{
		  float: left;
			list-style:none;
			margin:0;
			text-indent:0;
//      margin-left:4.375em;
      margin-bottom: 2em;
      padding:0 40px 0 0;
			li{
        font-size: 0.875em;
				display:block;
				margin:0;
				padding: 0.25em 0;
			}
		}
//    a.logo{
//      font-family: 'MuseoSlab500', 'sans-serif';
//      font-weight: normal;
//      font-size: 2.5em;
//      line-height: 1.5em;
//      text-decoration:none;
//      color: #999;
//    }
	}
	
	#about-mysociety{
//    width: 37.5em;
//    float:right;
//    width: 60%;
    clear: both;
//    margin: 0 auto;
//    padding: 0.625em 0;
		p{
			font-size: 0.875em;
//      margin-bottom: 2.143em;
		}
	}
	
	.copyright{
		text-align:center;
		font-size:0.625em;
		color: #ccc;
	}
}

// -----------------------
//	migration Page
// -----------------------

.note {
	background-color: #EEEEEE;
	padding: 1em;
	width: 50%;

	&.error {
		color: red;
	}
	&.info {
	}
}

table.migration-table {
	input[type='text'] {
		width: 18em;
		height: 1.7em;
		padding: 0 0.6em;
	}
	select {
		min-width: 100%;
	}
	small {
		color: gray;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 20em;
		display: block;
	}
	td {
		height: 2.9em;
	}
	.hidden {
		visibility: collapse;
		display: none;
	}
}


#promo-box {
  max-width: 20em;
  margin: 0 auto;
}



#flash-info {
  text-align: center;
  background: $info_colour_background;
  padding: 0.25em;
  margin: 0 auto;

  a.close {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
    }
  }
}

div.info {
  padding: 1em;
  border: 1px solid darken($info_colour_background, 20%);
  background-color: $info_colour_background;
}


div.homepage-summary-box {
  float: left;
  width: 30%;
}

#header_search_form {
  margin: 0;
  padding: 0;
  display: inline;
  input {
		-webkit-transition: width 0.5s ease-out;
		   -moz-transition: width 0.5s ease-out;
		     -o-transition: width 0.5s ease-out;
		        transition: width 0.5s ease-out;
    display: inline;
    margin: 0;
    padding: 0 1em;
    width: 4.5em;
  }
  
  input:focus {
    width: 12em;
  }
}