/* Forms */

.edit-in-place form {
  display: inline;
}
.edit-in-place form input {
  display: inline;
}

form {
  input, textarea {
    display:block;
    width:25em;
    max-width:100%;
  }

  textarea{
    min-height:10em;
  }
}


// apply styling to edit-in-place elements when user logged in
body.signed_in {
  .edit-in-place, .edit-in-place-textarea, .editable {
    &:hover {
      background-color: $edit-in-place-background-color;
      cursor: pointer;
    }
  }
}


input[type="search"].form-control {
  border-radius: 50px;
}
