form{
	margin: 2.8em 0;
	
	p{
		margin-bottom: 1.4em;
	}
	
	label{
		display: block;
		margin-bottom: 5px;
		color: #333333;
	}

	.form-action{
		margin-top: 2em;
	}

	.help-block{
              display:block;
		background-color: #fff;
		width:32em;
		font-size:0.75em;
		max-width:100%;
		border: 1px solid red;
		padding: 0.625em 1em;
		margin-top:1em;
		margin-left:3em;
//              position: absolute;
//              display:none;
	}
	
	.suggestion{
		display:block;
	}
	
	input,
	.append,
	textarea
	{
		display:block;
		-webkit-border-radius: 0.625em;
		   -moz-border-radius: 0.625em;
		        border-radius: 0.625em;
		border: 1px solid #ccc;
		padding: 0.625em 1em;
		width:25em;
		max-width:100%;
		color: #444;
		-webkit-transition: all 0.5s linear;
		   -moz-transition: all 0.5s linear;
		     -o-transition: all 0.5s linear;
		        transition: all 0.5s linear;

		&:hover{
			border: 1px solid #888;
		}

		&:focus{
		 	outline:none;
		 	border: 1px solid #006480;
		}
		&[disabled] {
		        opacity: 0.3;
		}
	}
	textarea{
		min-height:10em;
	}
	.append{
		input{
			border:none;
			padding:0;
			width:17em;
			max-width:30%;
			text-align:right;
			float:left;
		}
		.add-on{
      // max-width:30%;
      // width:5em;
			color: #888;
		}
	}
	
}

// in FF without this the input is unreadable as the padding squashes it down to
// nothing. Result now is ugly, but workable.
// TODO - tidy this up so that input is nice in FF
.edit-in-place input {
  padding: 0 1em;
}

// apply styling to edit-in-place elements when user logged in
body.signed_in {
  .edit-in-place, .edit-in-place-textarea {
    &:hover{
      background-color: $edit-in-place-background-color;
      cursor: pointer;
    };
  }
}


