/* Forms */

.edit-in-place form {
  display: inline;
}
.edit-in-place form input {
  display: inline;
}

form {
  input, textarea {
    display:block;
    width:25em;
    max-width:100%;
  }

  textarea{
    min-height:10em;
  }
}


// apply styling to edit-in-place elements when user logged in
body.signed_in {
  .edit-in-place, .edit-in-place-textarea, .editable {
    &:hover {
      background-color: $edit-in-place-background-color;
      cursor: pointer;
    }
  }
}


// <input type="search"> will have rounded ends like God intended
input[type="search"].form-control {
  border-radius: 50px;
}


// faster focus transition to make everything feel snappier
.form-control {
  @include transition(border-color ease-in-out 0.05s, box-shadow ease-in-out 0.05s);
}

// a new "xtra small" size for inputs, just like buttons
.input-xs, .input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  height: 28px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 1.5;
}

// override Bootstrap's default .form-control[readonly]
// styling for .click-to-select inputs
.form-control.click-to-select[readonly] {
  background-color: #fff;
  cursor: text;
}

// replicate the default Bootstrap :hover styling
// for artificially 'hovering' ZeroClipboard buttons
.btn-default.zeroclipboard-is-hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-primary.zeroclipboard-is-hover {
  color: white;
  background-color: #3071a9;
  border-color: #285e8e;
}
.input-group-btn > .btn.zeroclipboard-is-hover {
  z-index: 2;
}

.btn-default.zeroclipboard-is-copied {
  color: $brand-success;
  background-color: #E7F7CF;
  border-color: #A3C47F;
}

.form-group .help-block:last-child {
  margin-bottom: 0;
}

