/* Header and footer */

body, #header, #footer {
  background-color: $header-footer-background;
}

#content {
  background-color: $content-background;
}

#header {
  a {
    color: $header-link-color;
    text-decoration: none;

    &:hover {
      color: $header-link-hover-color;
    }
  }
}

h1.logo {
  float: left;
  line-height: 50px;
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;

  a {
    display: block;
  }
}

#nav {
  @include list-reset;
  float: right;

  li {
    float: left;

    a {
      display: inline-block;
      padding: 0 10px;
      line-height: 50px;
    }

    form {
      display: inline-block;
      padding: 11px 0 0 10px;
    }
  }
}

#footer {
  padding: 2em 0;
  color: #73838B;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $header-link-hover-color;
    }
  }

  & > .container > .row > :first-child p a {
    border-bottom: 1px solid #B2C2CA;
  }

  .footer-logo {
    margin-bottom: 0.4em;

    img {
      margin-top: -3px; /* compensate for the empty looking image */
      max-height: 30px;
    }
  }

  .copyright, .terms, #instance-app-activated {
    color: #999;
    margin-bottom: 0.7em;
    font-size: 0.8em;
    line-height: 1em;
  }
}
