/* Homepage */

@mixin homepage-header {
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
}

.homepage-setup-guide {
  padding: 40px 0 50px 0;

  &.solo {
    padding: 60px 0 80px 0;
  }

  h2 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $header-footer-background;
  }
}

.homepage-setup-guide-step {
  &.complete {
    color: #999; // make completed steps less prominent

    h3 {
      color: #6E946E;
    }

    .btn-default {
      color: #999; // make button look semi-disabled

      &:hover, &:focus, &:active {
        color: #333; // back to Bootstrap default
      }
    }
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  h3 {
    & > .glyphicon {
      font-size: 21px;
      vertical-align: 2px;
      margin-right: 5px;
    }

    & > .circled-number {
      display: inline-block;
      background: #889EB3;
      color: #fff;
      margin-right: 5px;
      font-size: 21px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 50px;
      vertical-align: 2px;
    }
  }
}

.homepage-summaries {
  background-color: #F3F5F6;
  padding-bottom: 50px;
}

.homepage-summary-list {
  @include list-reset;
  margin: 0 -15px; // to compensate for 15px gutter either side of children li's

  li {
    margin-bottom: 30px;

    a {
      display: block;
      padding: 13px 10px;
      padding-top: 130px;
      background: #fff;
      text-align: center;
      color: #999;
      text-decoration: none;
      @include box-shadow(0 1px 2px rgba(0,0,0,0.3));

      strong {
        display: block;
        color: #666;
        font-weight: normal;
        margin-bottom: 3px;
        @include dotdotdot;
      }

      small {
        display: block;
        @include dotdotdot;
      }

      &:hover, &:focus, &:active {
        position: relative;
        top: -2px;
        color: #666;
        @include box-shadow(0 3px 7px rgba(0,0,0,0.2));

        strong {
          color: #333;
        }
      }
    }
  }
}

.homepage-summary-box {
  position: relative;
  margin-top: 40px;
  margin-bottom: -30px; // compensate for 30px margin-bottom on .homepage-summary-list items

  h2 {
    @include homepage-header;
    color: #AAB8BE;
    text-shadow: 0 1px 0 #fff;
    margin: 0 0 20px 0;
  }

  .homepage-summary-toolbar {
    @include list-reset;
    position: absolute;
    top: 0;
    right: 0;

    .btn-default {
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.homepage-description, .homepage-api-guide {
  background-color: $content-background;
  padding: 40px 0;

  h2:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.homepage-api-guide {
  h2 {
    @include homepage-header;
    color: #AAB8BE;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: normal;
    color: #999;
  }
}
