/* Homepage */

@mixin simple-container($width: 580px) {
  padding-top: 40px;
  padding-bottom: 50px;
  max-width: $width;

  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 18px;

    .lead {
      font-size: 26px;
    }
  }

  & > h1 {
    margin-top: 0;
  }
}

.simple-container {
  @include simple-container;
}

.hosting-app-welcome {
  @include simple-container;

  .btn-primary {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.hosting-app-instances {
  @include simple-container(460px);

  .list-group {
    margin-top: 40px;
  }

  .list-group-item-heading {
    font-weight: 600;
  }

  .btn-primary {
    margin-top: 30px;
  }
}

.hosting-app-instance {
  @include simple-container;

  .dl-horizontal {
    margin-bottom: 0;

    dd {
      margin-bottom: 10px;
    }
    dt {
      font-weight: 300;
    }
  }

  @media (min-width: $screen-sm-min) {
    dt.hosting-app-instance-name {
      font-size: 28px;
    }
  }

  dd.hosting-app-instance-name {
    font-size: 28px;
    font-weight: bold;
  }

}

.hosting-app-instance-new {
  @include simple-container;

  .form-group {
    margin-left: 0;
    margin-right: 0;

    label {
      margin-bottom: 5px;
    }

    &.last {
      margin-top: 30px;
    }
  }

  .invite-link {
    float: right;
    font-size: 12px;
    line-height: 26px;

    @media (min-width: $screen-sm-min){
      margin-top: 7px; // to match default Bootstrap label margin
    }
  }
}
