/* Person and Organization (ie: "entity") pages */

.popit-toolbar {
  background-color: $light-grey-background;
  border-top: 1px solid darken($header-footer-background, 5%);
  border-bottom: 1px solid darken($light-grey-background, 5%);
  padding: 20px 0;
  line-height: 36px; // height of a button

  .btn-default {
    background: transparent;

    &:hover, &:active, &:focus {
      background: darken($light-grey-background, 5%)
    }

  }

  .btn-group + .btn-group {
    margin-left: 20px;
  }

  & > .container > p,
  & > .container > h1 {
    display: inline;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }

  & > .container > h1 {
    font-size: 28px;
  }

}

.entity-toolbar {

  & > .container > p {
    color: #ccc;

    a {
      color: #666;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:hover, &:focus {
        color: #444;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
      }
    }
  }

}

.photo-sidebar {
  text-align: center;
  margin-top: 30px;
}

ul.photos {
  @include list-reset;
  margin-bottom: 20px;

  li {
    position: relative;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }

  img {
    background-color: $light-grey-background;
    border: 10px solid #fff;
  }

  .photo-actions {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}

.empty-entity-message {
  text-align: center;
  padding: 40px 0;

  & > .glyphicon {
    display: block;
    font-size: 4em;
    color: $light-grey-background;
    text-shadow: 0 -1px 0 darken($light-grey-background, 10%);
  }

  h2 {
    margin: 30px 0 0 0;
  }

  h2 + p {
    margin-top: 30px;
  }

  .btn + .btn {
    margin-left: 20px;
  }
}

.entity-list > ul {
  @include list-reset;
  padding: 40px 0;
  max-width: 760px;

  li {
    font-size: 18px;
    line-height: 18px;
  }

  a {
    text-decoration: none;

    h4 {
      margin-bottom: 5px;
      font-weight: 500;
    }

    p {
      color: #999;
    }

    &:hover {
      h4 {
        text-decoration: underline;
      }
      p {
        color: #777;
      }
    }
  }
}
