/* Person and Organization (ie: "entity") pages */

$entity-photo-sidebar-width: 285px;

.popit-toolbar {
  background-color: $light-grey-background;
  border-top: 1px solid darken($header-footer-background, 5%);
  border-bottom: 1px solid darken($light-grey-background, 5%);
  padding: 20px 0;
  line-height: 36px; // height of a button

  .btn-default {
    background: transparent;

    &:hover, &:active, &:focus {
      background: darken($light-grey-background, 5%)
    }

  }

  .btn-group + .btn-group {
    margin-left: 20px;
  }

  input[type=submit].btn {
    width: auto;
  }

  & > .container > p,
  & > .container > h1 {
    display: inline;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }

  & > .container > h1 {
    font-size: 28px;
  }

}

.entity-toolbar {

  & > .container > p {
    color: #ccc;

    a {
      color: #666;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:hover, &:focus {
        color: #444;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
      }
    }
  }

}

.language-toolbar {
  border-top: 0px;
  padding: 5px 0px;
  & .btn,
  & .btn-group {
    font-size: 12px;
  }
}

.enough-toolbar {
  display: none;
  position: relative;
  z-index: 2;
  margin-bottom: -78px; // toolbar has 36px line-height, plus 20px padding and 1px border top and bottom
  border-top: 1px solid #CED5CB;
  border-bottom: 1px solid #E3E9DE;
  background-color: #EEF3ED;

  & > .container > p {
    color: #26741C;
    font-weight: 400;
  }
}

.edit-form,
.edit-mode {
  display: none;
}

.alert.backbone-error {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: -1px; // overlap the previous bar's (or the edit-toolbar's) border
}


.entity {
  label {
    color: #ccc;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
  }

  .nav-tabs {
    border-color: $header-footer-background;
  }

  .form-control {
    background-color: $light-grey-background;
    border: 0;
    @include box-shadow(none);
    border-radius: 0;
    padding: 10px 12px; // more vertical padding than normal
    margin: -10px 0; // compensate for vertical padding

    &:focus {
      @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.1));
    }
  }

  .form-control.select2-container {
    background-color: transparent;
    padding: 0;
    height: auto;
    margin-top: 3px;
    min-width: 280px;
  }

  .edit-mode-error {
    display: block;
    margin-top: 15px;
    margin-left: 12px;
  }

  span.placeholder {
    @extend .label;
    background-color: #FFFFA8;
    color: #000;
    font-weight: normal;
  }

  ul {
    @include list-reset;

    a.add, a.edit, a.delete {
      cursor: pointer;
    }
  }

  .edit-group {
    .delete, .edit {
      float: right;

      .glyphicon {
        font-size: 12px;
      }
    }

    .delete + .edit,
    .edit + .delete {
      margin-right: 20px;
    }

    .form-control {
      // inline form controls, like the select boxes in a membership sentence
      width: auto;
      display: inline-block;
      max-width: 8em;
      margin: 5px 5px 0;
      height: 32px;
    }

    .membership__delete {
      @extend .pull-right;
      color: #C54747;

      &:hover,
      &:focus {
        color: darken(#C54747, 20%);
      }
    }
  }

  .add.btn {
    display: block;
    text-align: left;
    padding: 0 12px; // to match .form-controls
    border-radius: 0;
    border: 0;

    &:hover, &:focus {
      text-decoration: underline; // make it act less like a btn, more like a link
      color: $link-hover-color; // make it act less like a btn, more like a link
    }

    .glyphicon {
      font-size: 12px;
    }
  }

  &.editing {
    label {
      color: #000;
      position: relative;
      z-index: 1;
      padding-left: 12px; // to line up with text inside .form-controls
    }
  }

  .disclaimer {
    font-size: 10px;
    text-align: right;
  }
}

.entity-header {
  position: relative;
  margin: 30px 0 40px 0;
  min-height: 100px;
  @include clearfix();

  h1 {
    font-size: 38px; // slightly smaller than normal, since there's lots of small type nearby
    line-height: 48px; // ideally, we'd make this smaller, but it needs to match an input with a hard-coded minimum line-height
    font-weight: 600; // bolder than normal, to make it stand out
    margin: -3px 0; // compensate for 48px line-height by making it look like 42px
  }

  p {
    margin: 0;
  }
}

.entity-header__photo {
  position: relative;
  height: 128px;
  float: left;
  margin-right: 30px; // 30px space between image and primary-property

  img {
    width: auto;
    height: 128px; // image is always 128px high, but can be variable width
  }

  .add-photo,
  .delete-photo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 54px; // 128px image, minus 20px line-height, divided by 2
    background-color: rgba(66, 139, 202, 0.5);
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 1px rgb(66,139,202);
    cursor: pointer;

    .glyphicon {
      font-size: 0.8em;
    }
  }

  .entity.editing & .add-photo,
  .entity.editing & .delete-photo {
    display: block;
  }
}

.entity-header__primary-property {
  padding-bottom: 10px;
  border-bottom: 1px solid $header-footer-background;
  margin-bottom: 10px;

  overflow: auto; // establish a new Block Formatting Context, to stop primary-property extending behind the floated image

  .form-control {
    font-size: 38px;
    line-height: 48px; // ideally we'd make this smaller, but Chrome, at least, won't let you reduce past a certain size
    font-weight: 600;
    padding: (10px - 3px) 12px; // compensate for 48px line-height by removing 6px from total vertical padding
    height: auto;
  }

  .suggestions {
    margin-top: 10px;

    a {
      padding: 10px 12px;
      font-size: 21px;
      font-weight: 600;
    }
  }
}

.entity-header__secondary-property {
  float: left;

  & + .entity-header__secondary-property {
    margin-left: 40px;
  }
}

.entity-header__social {
  position: absolute;
  top: 32px;
  right: -5px;

  .entity.editing & {
    display: none;
  }

  a {
    font-size: 21px;
    padding: 5px;
    border-radius: 4px;

    &:hover {
      background-color: $light-grey-background;
      text-decoration: none;
    }
  }
}

.entity-little-edit-icon {
  @extend .glyphicon;
  @extend .glyphicon-pencil;
  color: #bbb;
  font-size: 12px;
  padding: 5px;
  margin: -5px 0;

  &:hover,
  &:focus {
    color: #888;
  }
}

.entity-enter-edit-mode {
  cursor: pointer;
}

.entity-details {
  margin-bottom: 40px;

  .nav-tabs li.empty {
    display: none;

    .entity.editing &,
    body.signed_in & {
      display: block;
    }
  }
}

.entity-details__section {
  display: none;
  padding: 15px;
  &:first-of-type {
    display: block;
  }
}

.entity-details__property {
  margin-bottom: 20px;

  &.empty {
    display: none;

    .entity.editing &,
     {
      display: block;
    }
  }

  li {
    margin-bottom: 15px; // this is larger than you expect, because it also compensates for negative margin on .form-controls
  }
}

.upload-image {
  max-width: 400px;
  padding: 40px 0;

  .form-group {
    margin-top: 20px;
  }
}

.save-and-add-another,
.continue-editing {
  @extend .btn;
  @extend .btn-xs;
  @extend .pull-right;
  @extend .btn-success;
  margin-left: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.continue-editing {
  @extend .btn-info;
}

.old-entity {

  .photo-sidebar {
    text-align: center;
    margin-top: 30px;

    @media (min-width: $screen-sm-min){
      float: right;
      width: $entity-photo-sidebar-width;
    }

  }

  ul.photos {
    @include list-reset;
    margin-bottom: 20px;

    li {
      position: relative;
      border: 1px solid #eee;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }

    img {
      background-color: $light-grey-background;
      border: 10px solid #fff;
    }

    .photo-actions {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
    }
  }

  .dl-horizontal {
    margin: 30px 0;

    @media (min-width: $screen-sm-min) {
      float: left;
      width: $container-sm - $entity-photo-sidebar-width - 40px;

      dd {
        margin-left: 140px;  // narrower labels than bootstrap default
      }
      dt {
        width: 120px;  // narrower labels than bootstrap default
      }
    }

    @media (min-width: $screen-md-min) {
      width: $container-md - $entity-photo-sidebar-width - 60px;

      dd {
        margin-left: 180px; // back to bootstrap default
      }
      dt {
        width: 160px; // back to bootstrap default
      }
    }

    @media (min-width: $screen-lg-min) {
      width: $container-lg - $entity-photo-sidebar-width - 60px;
    }
  }

  &.editing {
    dt {
      margin-top: 7px; // line up with text inputs
    }
    dd {
      margin-bottom: 20px; // more space between inputs
    }
  }

  dt.entity-attr-name {
    line-height: 45px; // default h1 line-height, so label lines up vertically

    &.has-error {
      margin-top: 35px; //
    }
  }

  dd.entity-attr-name {
    .form-control {
      font-size: 41px;
      line-height: 45px;
      height: auto;
    }

    .control-label {
      margin-bottom: 5px;
    }

    &.has-error {
      .form-control {
        background-color: lighten($state-danger-bg, 5%);
      }
    }
  }

  dd {
    margin-bottom: 10px;

    ul {
      @include list-reset;

      a.add, a.edit, a.delete {
        cursor: pointer;
      }
    }

    li + li {
      margin-top: 10px;
    }

    p, h1 {
      margin: 0;
    }

    .add.btn {
      display: block;
      text-align: left;
      border: 1px solid darken($light-grey-background, 10%);

      &:hover, &:focus {
        text-decoration: underline; // make it act less like a btn, more like a link
        color: $link-hover-color; // make it act less like a btn, more like a link
        background-color: $light-grey-background;
        border: 1px solid darken($light-grey-background, 15%);
      }

      .glyphicon {
        font-size: 12px;
      }
    }

    .edit-group {
      padding: 6px 12px; // to match bootstrap buttons and inputs
      background-color: $light-grey-background;
      border: 1px solid darken($light-grey-background, 10%);
      border-radius: $border-radius-base;

      .delete, .edit {
        float: right;

        .glyphicon {
          font-size: 12px;
        }
      }

      .delete + .edit,
      .edit + .delete {
        margin-right: 10px;
      }
    }

    .bbf-form {
      padding: 6px 12px; // to match bootstrap buttons and inputs
      background-color: $light-grey-background;
      border: 1px solid darken($light-grey-background, 10%);
      border-radius: $border-radius-base;
    }
  }

}

.empty-entity-message {
  text-align: center;
  padding: 40px 0;

  & > .glyphicon {
    display: block;
    font-size: 4em;
    color: $light-grey-background;
    text-shadow: 0 -1px 0 darken($light-grey-background, 10%);
  }

  h2 {
    margin: 30px 0 0 0;
  }

  h2 + p {
    margin-top: 30px;
  }

  .btn + .btn {
    margin-left: 20px;
  }
}

.entity-list > ul {
  @include list-reset;
  padding: 40px 0;

  li {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;

    .initials {
      display: block;
      line-height: 40px;
      height: 40px;
      width: 40px;
      font-size: 21px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      background: $header-footer-background;
      text-align: center;
      text-shadow: 0 -1px 0 darken($header-footer-background, 20%);
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: 500;
      @include dotdotdot;
    }

    p {
      display: none;
      color: #999;
    }

    &:hover {
      .initials {
        background-color: darken($header-footer-background, 10%);
        text-shadow: 0 -1px 0 darken($header-footer-background, 30%);
      }
      h4 {
        text-decoration: underline;
      }
      p {
        color: #777;
      }
    }
  }
}

// Modal window, for anonymous users to suggest edits
.entity-suggestion {
  text-align: center;
  padding: 20px;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }

  label {
    margin-bottom: 0;
  }

  textarea {
    width: 100%;
    height: 5em;
  }
}
