/* Table Styles */

table {
	&.migration-table {
		border-spacing: 2;
		tr {
			border: 1px solid #aaa;
			&:nth-child(even) {
				background-color: #eef;
			}
			th {
				padding: 0.2em 2em;
			}
			td {
				padding: 0.1em;
			//	border: 1px solid #aaa;
			}
		}
	}
}
