/*  Typography  */ 

@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/exljbris-museoslab-500.eot');
    src: url('../fonts/exljbris-museoslab-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exljbris-museoslab-500.woff') format('woff'),
         url('../fonts/exljbris-museoslab-500.ttf') format('truetype'),
         url('../fonts/exljbris-museoslab-500.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, h2
{
	font-family: 'MuseoSlab500', 'sans-serif'; font-weight: normal;
}

dl{
	dt{
		font-size: 0.875em;
		color:#aaa;
	}
	dd{
		font-size: 1.125em;
		margin:0 0 1.4em 0;
	}
}

a{
	color: #006480;
	text-decoration: none;
	&:hover{
		color:#007899;
		text-decoration: underline;
	}
	&:visited:hover{
		color: #006480;
	}
}

body{ color:#555; }
h1, h2, h3, h4, h5{ color:#333; }