/* PopIt */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, /Users/evdb/git/popit/public/sass/_normalise.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, /Users/evdb/git/popit/public/sass/_normalise.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, /Users/evdb/git/popit/public/sass/_normalise.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, /Users/evdb/git/popit/public/sass/_normalise.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, /Users/evdb/git/popit/public/sass/_normalise.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, /Users/evdb/git/popit/public/sass/_normalise.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, /Users/evdb/git/popit/public/sass/_normalise.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, /Users/evdb/git/popit/public/sass/_normalise.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, /Users/evdb/git/popit/public/sass/_normalise.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, /Users/evdb/git/popit/public/sass/_normalise.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, /Users/evdb/git/popit/public/sass/_normalise.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, /Users/evdb/git/popit/public/sass/_normalise.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, /Users/evdb/git/popit/public/sass/_normalise.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, /Users/evdb/git/popit/public/sass/_normalise.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, /Users/evdb/git/popit/public/sass/_normalise.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, /Users/evdb/git/popit/public/sass/_normalise.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, /Users/evdb/git/popit/public/sass/_normalise.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, /Users/evdb/git/popit/public/sass/_normalise.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, /Users/evdb/git/popit/public/sass/_normalise.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, /Users/evdb/git/popit/public/sass/_normalise.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, /Users/evdb/git/popit/public/sass/_normalise.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, /Users/evdb/git/popit/public/sass/_normalise.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, /Users/evdb/git/popit/public/sass/_normalise.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, /Users/evdb/git/popit/public/sass/_normalise.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, /Users/evdb/git/popit/public/sass/_normalise.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, /Users/evdb/git/popit/public/sass/_normalise.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, /Users/evdb/git/popit/public/sass/_normalise.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, /Users/evdb/git/popit/public/sass/_normalise.scss */
sup {
  top: -0.5em;
}

/* line 268, /Users/evdb/git/popit/public/sass/_normalise.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, /Users/evdb/git/popit/public/sass/_normalise.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, /Users/evdb/git/popit/public/sass/_normalise.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, /Users/evdb/git/popit/public/sass/_normalise.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, /Users/evdb/git/popit/public/sass/_normalise.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, /Users/evdb/git/popit/public/sass/_normalise.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, /Users/evdb/git/popit/public/sass/_normalise.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, /Users/evdb/git/popit/public/sass/_normalise.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, /Users/evdb/git/popit/public/sass/_normalise.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, /Users/evdb/git/popit/public/sass/_normalise.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, /Users/evdb/git/popit/public/sass/_normalise.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, /Users/evdb/git/popit/public/sass/_normalise.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, /Users/evdb/git/popit/public/sass/_normalise.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, /Users/evdb/git/popit/public/sass/_normalise.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, /Users/evdb/git/popit/public/sass/_normalise.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, /Users/evdb/git/popit/public/sass/_normalise.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, /Users/evdb/git/popit/public/sass/_normalise.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, /Users/evdb/git/popit/public/sass/_normalise.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, /Users/evdb/git/popit/public/sass/_normalise.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, /Users/evdb/git/popit/public/sass/_normalise.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, /Users/evdb/git/popit/public/sass/_normalise.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 508, /Users/evdb/git/popit/public/sass/_normalise.scss */
* {
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-form {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 8, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-field {
  margin: 1em 0;
  list-style-type: none;
  position: relative;
  clear: both;
}

/* line 15, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-field label {
  float: left;
  width: 25%;
}

/* line 20, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-field .bbf-editor {
  margin-left: 25%;
  width: 74%;
}

/* line 25, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-field input, .bbf-field textarea, .bbf-field select {
  width: 100%;
}

/* line 29, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-field .bbf-help {
  margin-left: 25%;
  width: 74%;
  color: #999;
}

/* line 35, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-field.bbf-error .bbf-editor {
  outline: 1px solid red;
}

/* line 41, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-date input, .bbf-datetime input {
  width: 100px;
  text-align: center;
}

/* line 46, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-datetime input {
  margin-right: 1em;
}

/* line 50, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-datetime select {
  width: 50px;
  text-align: center;
}

/* line 57, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list {
  list-style-type: none;
}

/* line 61, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list ul {
  border: 1px solid #ccc;
  border-bottom: none;
  max-height: 150px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/* line 70, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list li {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 16px;
  background: #fff;
  padding: 4px;
  margin: 0;
  list-style-type: none;
  margin-top: -1px;
  position: relative;
}

/* line 82, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list-sortable li {
  cursor: move;
}

/* line 86, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list .bbf-list-actions {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* line 92, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list .bbf-list-actions button {
  width: 19px;
  height: 19px;
}

/* line 97, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list .bbf-list-add {
  width: 100%;
  height: 20px;
  margin-top: -2px;
}

/* line 103, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-list-editor {
  width: 98%;
}

/* line 108, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-radio {
  list-style-type: none;
}

/* line 112, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-radio input {
  width: auto;
}

/* line 116, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-radio label {
  float: none;
}

/* line 122, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-checkboxes {
  list-style-type: none;
}

/* line 126, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-checkboxes input {
  width: auto;
}

/* line 130, /Users/evdb/git/popit/public/sass/_backbone-forms-0.9.0.scss */
.bbf-checkboxes label {
  float: none;
}

/* fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-tmp iframe, .fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

/* line 8, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 15, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-skin {
  position: relative;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 27, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 31, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 37, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-outer, .fancybox-inner {
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
}

/* line 44, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 48, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 52, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

/* line 59, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* line 69, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 74, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/img/fancybox_sprite.png");
}

/* line 78, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8020;
}

/* line 90, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/img/fancybox_loading.gif") center center no-repeat;
}

/* line 96, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 106, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url("/img/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 117, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 121, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 125, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 136, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-prev span {
  left: 20px;
  background-position: 0 -36px;
}

/* line 141, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-next span {
  right: 20px;
  background-position: 0 -72px;
}

/* line 146, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 150, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden;
}

/* Overlay helper */
/* line 161, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: #000;
}

/* line 171, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
#fancybox-overlay.overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Title helper */
/* line 179, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 187, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 191, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8030;
  text-align: center;
}

/* line 200, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 216, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 222, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-title-inside-wrap {
  margin-top: 10px;
}

/* line 226, /Users/evdb/git/popit/public/sass/_jquery.fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*  Typography  */
@font-face {
  font-family: 'MuseoSlab500';
  src: url("../fonts/exljbris-museoslab-500.eot");
  src: url("../fonts/exljbris-museoslab-500.eot?#iefix") format("embedded-opentype"), url("../fonts/exljbris-museoslab-500.woff") format("woff"), url("../fonts/exljbris-museoslab-500.ttf") format("truetype"), url("../fonts/exljbris-museoslab-500.svg#MuseoSlab500") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, /Users/evdb/git/popit/public/sass/_typography.scss */
h1, h2 {
  font-family: 'MuseoSlab500', 'sans-serif';
  font-weight: normal;
}

/* line 19, /Users/evdb/git/popit/public/sass/_typography.scss */
dl dt {
  font-size: 0.875em;
  color: #aaa;
}
/* line 23, /Users/evdb/git/popit/public/sass/_typography.scss */
dl dd {
  font-size: 1.125em;
  margin: 0 0 1.4em 0;
}

/* line 29, /Users/evdb/git/popit/public/sass/_typography.scss */
a {
  color: #006480;
  text-decoration: none;
}
/* line 32, /Users/evdb/git/popit/public/sass/_typography.scss */
a:hover {
  color: #006480;
  text-decoration: underline;
}
/* line 36, /Users/evdb/git/popit/public/sass/_typography.scss */
a:visited:hover {
  color: #006480;
}

/* line 41, /Users/evdb/git/popit/public/sass/_typography.scss */
body {
  color: #555;
}

/* line 42, /Users/evdb/git/popit/public/sass/_typography.scss */
h1, h2, h3, h4, h5 {
  color: #333;
}

/* Baseline Styles - Starting point for custom user themes */
/* line 3, /Users/evdb/git/popit/public/sass/_default.scss */
body {
  min-width: 60em;
}

/* line 12, /Users/evdb/git/popit/public/sass/_default.scss */
header#header {
  max-width: 60em;
  padding: 0.625em;
  margin: auto;
}
/* line 18, /Users/evdb/git/popit/public/sass/_default.scss */
header#header h1.logo {
  color: #4D4D4D;
  max-width: 100%;
  margin: 0;
}
/* line 23, /Users/evdb/git/popit/public/sass/_default.scss */
header#header h1.logo a {
  display: block;
  color: #4D4D4D;
  text-decoration: none;
}
@media screen and (min-width: 60em) {
  /* line 18, /Users/evdb/git/popit/public/sass/_default.scss */
  header#header h1.logo {
    float: left;
    width: 9.667em;
  }
}
/* line 34, /Users/evdb/git/popit/public/sass/_default.scss */
header#header h1.logo abbr {
  border: none;
  text-decoration: none;
  color: #333333;
}
/* line 40, /Users/evdb/git/popit/public/sass/_default.scss */
header#header h1.logo .popit-instance {
  font-size: 0.5em;
  opacity: 0.5;
}

@media screen and (min-width: 60em) {
  /* line 47, /Users/evdb/git/popit/public/sass/_default.scss */
  body.brand_page header#header h1.logo {
    font-size: 3.75em;
    margin: 0.35em 0;
  }
}

/* line 59, /Users/evdb/git/popit/public/sass/_default.scss */
#user_menu {
  font-size: 0.875em;
  max-width: 100%;
}
@media screen and (min-width: 60em) {
  /* line 59, /Users/evdb/git/popit/public/sass/_default.scss */
  #user_menu {
    width: 21.25em;
    text-align: right;
    padding-top: 1.6em;
    float: right;
  }
}
/* line 70, /Users/evdb/git/popit/public/sass/_default.scss */
#user_menu .username {
  font-weight: bold;
}

@media screen and (min-width: 60em) {
  /* line 77, /Users/evdb/git/popit/public/sass/_default.scss */
  body.brand_page #user_menu {
    padding-top: 4.4286em;
  }
}

/* line 87, /Users/evdb/git/popit/public/sass/_default.scss */
#content {
  clear: both;
  max-width: 60em;
  padding-top: 1.25em;
  margin: auto;
}
/* line 94, /Users/evdb/git/popit/public/sass/_default.scss */
#content h1 .long-title {
  display: none;
}

/* line 100, /Users/evdb/git/popit/public/sass/_default.scss */
.person p {
  font-size: 1.125em;
  line-height: 1.667em;
}

/* line 105, /Users/evdb/git/popit/public/sass/_default.scss */
p.intro {
  line-height: 1.667em;
  max-width: 100%;
  width: 35em;
}

/* line 114, /Users/evdb/git/popit/public/sass/_default.scss */
.login-form {
  padding: 0.625em 0.625em 0.625em 4.375em;
}

/* line 121, /Users/evdb/git/popit/public/sass/_default.scss */
#slug {
  text-transform: lowercase;
}

/* line 129, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav {
  margin-left: -1.688em;
  margin-right: -1.688em;
  margin-bottom: 1em;
  float: left;
  clear: both;
  width: 63.375em;
}
/* line 138, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav nav {
  display: inline;
}
/* line 141, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav > *, header.person-header-nav nav > a {
  display: inline-block;
  vertical-align: top;
  height: 3.75em;
  overflow: hidden;
}
/* line 148, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav .find-person {
  margin: 0;
  float: right;
  width: 10.875em;
  padding: 1.25em 1.25em 1.25em 2.5em;
  background: #cbcbcb url(../img/search.png) no-repeat scroll 0.625em center;
}
/* line 156, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav .find-person label {
  display: none;
}
/* line 160, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav .find-person input {
  vertical-align: middle;
  width: 100%;
  opacity: 0.5;
}
/* line 164, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav .find-person input:focus {
  opacity: 1;
}
/* line 169, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav.focus-search .find-person {
  width: 29.5em;
}
/* line 173, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav .current-person {
  width: 16em;
  height: 2em;
  float: left;
  background-color: #dbdbdb;
  margin: 0;
  padding: 0.5em;
  font-size: 1.875em;
  text-align: center;
  font-family: 'MuseoSlab500', 'sans-serif';
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 188, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav.focus-search .current-person {
  width: 6em;
}
/* line 192, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav .find-person, header.person-header-nav .current-person {
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
/* line 199, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav a.previous-person, header.person-header-nav a.next-person {
  width: 11.25em;
  float: left;
  text-decoration: none;
  color: #fff;
  background-color: #b3b3b3;
  padding: 0.75em 0.625em 0.75em 2.8125em;
  margin: 0;
  background: #b3b3b3 url(../img/arrow-left.png) no-repeat scroll left center;
}
/* line 209, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav a.previous-person em, header.person-header-nav a.next-person em {
  text-transform: uppercase;
  font-style: normal;
  font-size: 0.625em;
  color: #e5e5e5;
}
/* line 215, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav a.previous-person strong, header.person-header-nav a.next-person strong {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #eeeeee;
}
/* line 222, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav a.previous-person:hover strong, header.person-header-nav a.next-person:hover strong {
  color: #fff;
}
/* line 230, /Users/evdb/git/popit/public/sass/_default.scss */
header.person-header-nav a.next-person {
  text-align: right;
  padding: 0.75em 2.8125em 0.75em 0.625em;
  background: #b3b3b3 url(../img/arrow-right.png) no-repeat scroll right center;
  float: right;
}

/* line 241, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .admin-options {
  float: right;
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style: none;
}
/* line 248, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .admin-options a {
  font-size: 0.875em;
  color: rgba(76, 76, 76, 0.3);
  text-shadow: rgba(0, 0, 0, 0) 0 0 0;
  -webkit-transition: opacity, color 0.3s linear;
  -moz-transition: opacity, color 0.3s linear;
  -o-transition: opacity, color 0.3s linear;
  transition: opacity, color 0.3s linear;
}
/* line 256, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .admin-options a.add strong {
  color: #7aa701;
}
/* line 259, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .admin-options a.edit strong {
  color: #c26400;
}
/* line 262, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .admin-options a.delete strong {
  color: #c20000;
}
/* line 269, /Users/evdb/git/popit/public/sass/_default.scss */
article.person section:hover .admin-options a {
  color: #4c4c4c;
}
/* line 275, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .photos li:hover a,
article.person aside a.add {
  color: #4c4c4c;
  opacity: 1;
}
/* line 280, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside {
  width: 18.75em;
  float: left;
  padding: 0.625em;
}
/* line 285, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside .admin-options {
  float: left;
  margin-bottom: 2em;
}
/* line 291, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside ul.photos,
article.person > aside ul.photos li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 298, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside ul.photos > li .photo-source {
  display: block;
  text-align: right;
  font-size: 0.625em;
  width: 28em;
  color: #999;
  margin: -0.6em 0 0 0;
  opacity: 0.2;
  -webkit-transform: rotate(-90deg) translate(15%, -15em);
  -moz-transform: rotate(-90deg) translate(15%, -15em);
  -ms-transform: rotate(-90deg) translate(15%, -15em);
  -o-transform: rotate(-90deg) translate(15%, -15em);
  transform: rotate(-90deg) translate(15%, -15em);
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 307, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside ul.photos > li .photo-source a {
  color: #999;
}
/* line 318, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside ul.photos > li:hover .photo-source {
  opacity: 1;
}
/* line 322, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > aside img {
  max-width: 100%;
}
/* line 327, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > section {
  border-top: 1px solid #ddd;
  float: right;
  padding: 0.625em;
  margin-top: 0.625em;
  width: 37.5em;
}
/* line 333, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > section h2 {
  margin-top: 0;
}
/* line 339, /Users/evdb/git/popit/public/sass/_default.scss */
article.person .description p {
  font-size: 1.125em;
  line-height: 1.667em;
}
/* line 345, /Users/evdb/git/popit/public/sass/_default.scss */
article.person > footer {
  clear: both;
}

/* line 351, /Users/evdb/git/popit/public/sass/_default.scss */
.admin-options {
  visibility: hidden;
}

/* line 352, /Users/evdb/git/popit/public/sass/_default.scss */
body.signed_in .admin-options {
  visibility: visible;
}

/* line 359, /Users/evdb/git/popit/public/sass/_default.scss */
#footer {
  clear: both;
  width: 100%;
  background-color: #eeeeee;
  padding: 2.5em 0;
  line-height: 1.875em;
  color: #666666;
  margin-top: 3em;
}
/* line 368, /Users/evdb/git/popit/public/sass/_default.scss */
#footer .mysociety-logo {
  display: block;
}
/* line 372, /Users/evdb/git/popit/public/sass/_default.scss */
#footer > div {
  max-width: 60em;
  margin: auto;
  clear: both;
}
/* line 378, /Users/evdb/git/popit/public/sass/_default.scss */
#footer #sitemap {
  width: 22.5em;
  float: left;
  padding: 0.625em;
}
/* line 383, /Users/evdb/git/popit/public/sass/_default.scss */
#footer #sitemap ul {
  list-style: none;
  margin: 0;
  padding: 0.625em;
  text-indent: 0;
  margin-left: 4.375em;
  margin-bottom: 2em;
}
/* line 390, /Users/evdb/git/popit/public/sass/_default.scss */
#footer #sitemap ul li {
  font-size: 0.875em;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 397, /Users/evdb/git/popit/public/sass/_default.scss */
#footer #sitemap a.logo {
  font-family: 'MuseoSlab500', 'sans-serif';
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.5em;
  text-decoration: none;
  color: #999;
}
/* line 407, /Users/evdb/git/popit/public/sass/_default.scss */
#footer #about-mysociety {
  width: 37.5em;
  float: right;
  padding: 0.625em;
}
/* line 411, /Users/evdb/git/popit/public/sass/_default.scss */
#footer #about-mysociety p {
  font-size: 0.875em;
  margin-bottom: 2.143em;
}
/* line 416, /Users/evdb/git/popit/public/sass/_default.scss */
#footer .copyright {
  text-align: center;
  font-size: 0.625em;
  color: #ccc;
}

/* line 1, /Users/evdb/git/popit/public/sass/_forms.scss */
form {
  margin: 2.8em 0;
}
/* line 4, /Users/evdb/git/popit/public/sass/_forms.scss */
form p {
  margin-bottom: 1.4em;
}
/* line 8, /Users/evdb/git/popit/public/sass/_forms.scss */
form label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}
/* line 14, /Users/evdb/git/popit/public/sass/_forms.scss */
form .form-action {
  margin-top: 2em;
}
/* line 18, /Users/evdb/git/popit/public/sass/_forms.scss */
form .help-block {
  display: block;
  background-color: #fff;
  width: 32em;
  font-size: 0.75em;
  max-width: 100%;
  border: 1px solid red;
  padding: 0.625em 1em;
  margin-top: 1em;
  margin-left: 3em;
}
/* line 32, /Users/evdb/git/popit/public/sass/_forms.scss */
form .suggestion {
  display: block;
}
/* line 39, /Users/evdb/git/popit/public/sass/_forms.scss */
form input,
form .append,
form textarea {
  display: block;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #ccc;
  padding: 0.625em 1em;
  width: 25em;
  max-width: 100%;
  color: #444;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 54, /Users/evdb/git/popit/public/sass/_forms.scss */
form input:hover,
form .append:hover,
form textarea:hover {
  border: 1px solid #888;
}
/* line 58, /Users/evdb/git/popit/public/sass/_forms.scss */
form input:focus,
form .append:focus,
form textarea:focus {
  outline: none;
  border: 1px solid #006480;
}
/* line 62, /Users/evdb/git/popit/public/sass/_forms.scss */
form input[disabled],
form .append[disabled],
form textarea[disabled] {
  opacity: 0.3;
}
/* line 66, /Users/evdb/git/popit/public/sass/_forms.scss */
form textarea {
  min-height: 10em;
}
/* line 70, /Users/evdb/git/popit/public/sass/_forms.scss */
form .append input {
  border: none;
  padding: 0;
  width: 17em;
  max-width: 70%;
  text-align: right;
  float: left;
}
/* line 78, /Users/evdb/git/popit/public/sass/_forms.scss */
form .append .add-on {
  max-width: 30%;
  width: 5em;
  color: #888;
}

/* line 1, /Users/evdb/git/popit/public/sass/_buttons.scss */
button, a.btn, input.btn {
  border: none;
  display: inline-block;
  padding: 0.625em;
  width: inherit;
  min-width: 12.5em;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  background-color: #006480;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
/* line 18, /Users/evdb/git/popit/public/sass/_buttons.scss */
button:hover, a.btn:hover, input.btn:hover {
  background-color: #007899;
  color: #fff;
  color: white;
  text-decoration: none;
  border: none;
}

/* line 1, /Users/evdb/git/popit/public/sass/_warnings.scss */
#no-js-warning {
  text-align: center;
  background-color: #ffcccc;
  border-bottom: 1px solid red;
  padding: 0.25em;
}
