extend layout

block title
  | Data Import

block content
  h1 Data Import

  p This is a future feature that we intend to add to PopIt.

  P
    | You will be able to import and update data by uploading CSV files or
    | programatically using an API.
  
  p
    | For more details on this feature please see 
    a(href="https://github.com/mysociety/popit/wiki/Data-import") this wiki page |
    which has some rough notes.
  
  p
    | If you have particular suggestions or questions please let us know on the 
    a(href="https://secure.mysociety.org/admin/lists/mailman/listinfo/components") components mailing list
    | .