<%= render(
  'html_head.html',
  {
    title:       'Data Import',
    description: 'PopIt will let you enter and access data easily from your code. It will also let you upload existing data that you have to quickly populate a new site.',
  }
) %>

<h1>Data Import</h1>

<p>
  PopIt will let you enter and access data easily from your code. It will 
  also let you upload existing data that you have to quickly populate a new 
  site.
</p>


<h2>Migration Tool</h2>

<p> 
  If you have been collecting information on people in a spreadsheet this 
  web based tool will let you quickly upload it all into PopIt rather than 
  manually entering it in.
</p>

<p>
  Go to the 
  a(href="/migration", id="migration_tool") migration tool
   (which is currently a work in progress).


<h2>API</h2>

<p> 
  The API will let you access and modify all the data in PopIt, as well as 
  storing your own custom data. Please see the API docs on an existing PopIt 
  site for more details.
</p>

<p> 
  We use the API from the editing interface on the website to be sure that 
  all interactions with PopIt can be achieved through the API. It is not an 
  afterthought - it is a core piece of the site.
</p>

<p>
  API improvements is an ongoing task with several <a href="https://github.com/mysociety/popit/issues?labels=API&amp;milestone=&amp;page=1&amp;state=open">open issues</a>. If you have particular suggestions or questions please let us know on the <a href="https://secure.mysociety.org/admin/lists/mailman/listinfo/components"> components mailing list</a>.
</p>

<%= render('html_footer.html' )%>
