<div class="view-mode field-with-metadata">
  <a href="<%- item.url %>"><%- item.label %></a>
  <% if (item.role) { %>
    (<%- item.role %>)
  <% } %>
  <% if (item.start_date && item.end_date) { %>
    <span class="text-muted">(from <%- item.start_date %> to <%- item.end_date %>)</span>
  <% } else if (item.start_date) { %>
    <span class="text-muted">(from <%- item.start_date %>)</span>
  <% } else if (item.end_date) { %>
    <span class="text-muted">(to <%- item.end_date %>)</span>
  <% } %>

  <div class="field-with-metadata__metadata">
    <%= render( 'field_source/trigger.html', { sourceText: sourceText, sourceID: 'source-posts-' + item.id } )%>
  </div>
  <%= render( 'field_source/display.html', { sourceText: sourceText, sourceID: 'source-posts-' + item.id } )%>
</div>

<div class="edit-mode edit-group field-with-metadata">
  <a href="<%- item.url %>"><%- item.label %></a>
  <% if (item.role) { %>
    (<%- item.role %>)
  <% } %>
  <% if (item.start_date && item.end_date) { %>
    <span class="text-muted">(from <%- item.start_date %> to <%- item.end_date %>)</span>
  <% } else if (item.start_date) { %>
    <span class="text-muted">(from <%- item.start_date %>)</span>
  <% } else if (item.end_date) { %>
    <span class="text-muted">(to <%- item.end_date %>)</span>
  <% } %>

  <div class="field-with-metadata__metadata">
    <a class="delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span>Delete</a>
    <%= render( 'field_source/trigger.html', { sourceText: sourceText, sourceID: 'source-posts-' + item.id } )%>
  </div>
  <%= render( 'field_source/display-editing.html', { sourceText: sourceText, sourceID: 'source-posts-' + item.id, field: 'field_sources[posts][' + i + ']' } )%>
</div>
