<div class="view-mode">
  <a href="<%- item.url %>"><%- item.label %></a>

  <% if (item.role) { %>
    (<%- item.role %>)
  <% } %>

  <% if (item.start_date && item.end_date) { %>
    <span class="text-muted">(from <%- item.start_date %> to <%- item.end_date %>)</span>
  <% } else if (item.start_date) { %>
    <span class="text-muted">(from <%- item.start_date %>)</span>
  <% } else if (item.end_date) { %>
    <span class="text-muted">(to <%- item.end_date %>)</span>
  <% } %>
</div>
<div class="edit-mode edit-group">
  <a class="delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span>Delete</a>
  <a class="edit edit-post"><span class="glyphicon glyphicon-pencil glyphicon-space-after"></span>Edit</a>
  <a href="<%- item.url %>"><%- item.label %></a>

  <% if (item.role) { %>
    (<%- item.role %>)
  <% } %>

  <% if (item.start_date && item.end_date) { %>
    <span class="text-muted">(from <%- item.start_date %> to <%- item.end_date %>)</span>
  <% } else if (item.start_date) { %>
    <span class="text-muted">(from <%- item.start_date %>)</span>
  <% } else if (item.end_date) { %>
    <span class="text-muted">(to <%- item.end_date %>)</span>
  <% } %>
</div>
