<label for="contact_label_<%= i %>">Label</label>
<input type="text" id="contact_label_<%= i %>" name="contact_details[<%= i %>][label]" value="<%= contact.label %>">

<label for="contact_type_<%= i %>">Type</label>
<input type="text" id="contact_type_<%= i %>" name="contact_details[<%= i %>][type]" value="<%= contact.type %>">

<label for="contact_value_<%= i %>">Value</label>
<input type="text" id="contact_value_<%= i %>" name="contact_details[<%= i %>][value]" value="<%= contact.value %>">

<label for="contact_note_<%= i %>">Note</label>
<input type="text" id="contact_note_<%= i %>" name="contact_details[<%= i %>][note]" value="<%= contact.note %>">
