<div class="field-with-metadata">
  <input type="hidden" id="contact_id_<%= i %>" name="contact_details[<%= i %>][id]" value="<%- item._id || '' %>">

  <p>
    <label for="contact_label_<%= i %>">Label (e.g. 'Office Address', 'Twitter Account', 'Work Phone Number', etc.)</label>
    <input type="text" class="form-control" id="contact_label_<%= i %>" name="contact_details[<%= i %>][label]" value="<%- item.label || '' %>">

  <p>
    <label for="contact_type_<%= i %>">Type (e.g. 'twitter', 'facebook', 'cell', 'address', 'fax', etc.)</label>
    <input type="text" class="form-control" id="contact_type_<%= i %>" name="contact_details[<%= i %>][type]" value="<%- item.type || '' %>">
  </p>

  <p>
    <label for="contact_value_<%= i %>">Value (e.g. a phone number, a Twitter or Facebook username, an address, etc.)</label>
    <input type="text" class="form-control" id="contact_value_<%= i %>" name="contact_details[<%= i %>][value]" value="<%- item.value || '' %>">
  </p>

  <p>
    <label for="contact_note_<%= i %>">Note</label>
    <input type="text" class="form-control" id="contact_note_<%= i %>" name="contact_details[<%= i %>][note]" value="<%- item.note || '' %>">
  </p>

  <div class="field-with-metadata__metadata">
    <a class="other_name-delete"><span class="glyphicon glyphicon-trash glyphicon-space-after"></span>Delete</a>
    <%= render( 'field_source/trigger-editing.html', { sourceText: sourceText, sourceID: 'source-contact_detail-' + item.id } )%>
  </div>
</div>
<%= render( 'field_source/display-editing.html', { sourceText: sourceText, sourceID: 'source-contact_detail-' + item.id, field: 'field_sources[contact_details][' + i + ']' } )%>
