<div class="field-with-metadata">
  <strong>
    <% if (item.label) { %>
      <%- item.label %> (<%- item.type %>):
    <% } else { %>
      <%- item.type %>:
    <% } %>
  </strong>
  <%- item.value %>
  <% if (item.note) { %>
    <span class="text-muted">(<%- item.note %>)</span>
  <% } %>

  <div class="field-with-metadata__metadata">
    <%= render( 'field_source/trigger.html', { sourceText: sourceText, sourceID: 'source-contact-' + item.id } )%>
  </div>
</div>
<%= render( 'field_source/display.html', { sourceText: sourceText, sourceID: 'source-contact-' + item.id } )%>
