<div class="view-mode">
  <strong>
    <% if (item.label) { %>
      <%- item.label %> (<%- item.type %>):
    <% } else { %>
      <%- item.type %>:
    <% } %>
  </strong>
  <%- item.value %>
  <% if (item.note) { %>
    <span class="text-muted">(<%- item.note %>)</span>
  <% } %>
</div>
<div class="edit-mode edit-group">
  <a class="delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span>Delete</a>
  <a class="edit contact-edit"><span class="glyphicon glyphicon-pencil glyphicon-space-after"></span>Edit</a>
  <strong>
    <% if (item.label) { %>
      <%- item.label %> (<%- item.type %>):
    <% } else { %>
      <%- item.type %>:
    <% } %>
  </strong>
  <%- item.value %>
  <% if (item.note) { %>
    <span class="text-muted">(<%- item.note %>)</span>
  <% } %>
</div>



