<%= render(
  'html_head.html',
  {
    title:       'Migration Tool',
    description: '',
  }
) %>

<h1>Migration Tool</h1>

<p>
  If you have been collecting information on people in a spreadsheet this
  will let you quickly upload it all into PopIt rather than manually
  entering it in. We expect that this will be in the form of a
  <a href="http://en.wikipedia.org/wiki/Comma-separated_values" title="Wikipedia article on the CSV file format">CSV</a>
  file.
</p>

<p>
  The migration tool is intended to add data to PopIt, not to import data after the first import.
</p>

<p>
  The migration process consists of 3 steps.
</p>

<ol>
  <li>Upload a CSV file</li>
  <li>Define the mapping</li>
  <li>Wait for the import to happen</li>
</ol>

<% if (migration.length) { %>
  <a href="/migration/clear">Clear previous migrations</a>
  <ul>
    <% _.each(migration, function(single) { %>
      <li>
        <a href="/migration/mapping/<%- single.id %>">
          <%- single.source.name %>
          <small>(<%- single.created %>)</small>
         </a>
       </li>
     <% }); %>
  </ul>
<% } %>

<form method="post" action="/migration/upload" enctype="multipart/form-data">
  <div id="migration_source_file">
    <label>Source file</label>
    <input type="file" name="source">
  </div>
  <input type="submit" class="btn" value="Upload your CSV">
</form>

<%= render('html_footer.html' )%>