extend ../layout

block title
  | Migration Tool

block content
  .page-header
    h1 
      a(href="/migration") Migration Tool

  p TODO: Description for define mapping

  div
    form
      label(for="schema") Select schema for import
      select(name="schema")
        option(value="person") Person
        option(value="organization") Organization

  div(class="schema")
    if migration.source.parsed
      table
        thead
          tr
            th From CSV
            th In schema
            th Example entry
        tbody
          for entry in _.zip(migration.source.parsed.header, migration.source.parsed.data[1])
            tr
              td
                #{entry[0]}
              td
                select
                  option(value="", selected="selected")
                  option(value="foo") foo
              td
                #{entry[1]}
