<%= render(
  'html_head.html',
  {
    title:       'Migration Tool',
    description: '',
  }
) %>

<h1 id="status">Status of Migration</h1>

<% if (typeof(people) != 'undefined') { %>
  <% if ((typeof(error) != 'undefined') && error ) { %>
    <p class="note error">
      Aww, something went wrong.
      <%- error %>
    </p>
  <% } else { %>
    <p class="note info">
      Successfully migrated 
      <a href="/person"><%- people.length %>
      items.          
    </p>
  <% } %>
<% } %>


<p> 
  This page shows the status of the migration process. Go back to the 
  <a href="/migration">migration page</a>. In case of an error you can go     
  <a href="#" class='history-back'>back</a>.
</p>

<h2>Status</h2>

<% // updated by the javascript %>
<p class="note progress">
  ...migration starting...
</p>


<%
  // Summary box shown when the migration is complete - should be hidden
  // initially and then revealed by the javascript
%>

<div id="migration_completed_message" class="info" style="display: none">
  <h3>Migration completed!</h3>
  
  <p>
    <a href="/person">View results</a>
  </p>
  
  <p>
    Your import has now completed.
  </p>
  
  <p> 
    You can now go and edit individuals to any add extra details that may not
    have been in the data you uploaded.
  </p>

</div>

<%= render('html_footer.html' )%>
     