extend ../layout

block title
  | Migration Tool

block content
  h1#status Status of Migration

  if (typeof(people) != 'undefined')
    if (typeof(error) != 'undefined') && error
      p(class="note error")
        | Aww, something went wrong.
        | #{error}
    else
      p(class="note info")
        | Successfully migrated 
        a(href="/person") #{people.length}
        |  items.

  p 
    | This page shows the status of the migration process. Go back to the 
    a(href="/migration") migration page
    | . In case of an error you can go 
    a(href="#", class='history-back') back.

  h2 Status

  //- updated by the javascript
  p(class="note progress") ...migration starting...
  
  //- Summary box shown when the migration is complete - should be hidden
  //- initially and then revealed by the javascript
  div#migration_completed_message.info(style="display: none")
    h3 Migration completed!
    
    p
      a(href="/person") View results
    
    p
      | Your import has now completed.

    p 
      | You can now go and edit individuals to any add extra details that may not
      | have been in the data you uploaded.