<%= render(
  'html_head.html',
  {
    title:       'Upload image',
    description: '',
  }
) %>

<form action="" method="post" enctype="multipart/form-data" class="container upload-image">

  <h1 class="text-center">Add an image</h1>

  <p class="form-group">
    <label for="image_upload">Upload image</label>
    <input type="file" id="image_upload" name="image" />
  </p>

  <p class="form-group">
    <label for="image_url">Or specify URL</label>
    <input class="form-control" type="text" id="image_url" name="url" />

    <%
      //- if opts.form_help_text
      //-   div.help #{opts.form_help_text}
      //-
      //- if errors[field_name]
      //-   span.error #{ errors[field_name].type }
    %>
  </p>

  <p class="form-group text-center">
    <button class="btn btn-primary" type="submit">Upload</button>
  </p>

</form>

<%= render('html_footer.html' )%>
