  </div>
  <footer id="footer">
    <div>

      <div id="sitemap">
        <ul>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/person">People</a>, <a href="/organisation">Organisations</a></li>
            <li><a href="<%- config.hosting_site_base_url %>/info/about">About PopIt</a></li>
            <li><a href="/api">API</a> / <a href="/info/data-import">Data Freedom</a></li>
            <li><a href="<%- config.hosting_site_base_url %>/info/self-hosting">Self Hosting</a></li>
            <li><a href="/info/privacy">Terms &amp; Privacy Policy</a></li>
        </ul>
      </div>

      <div id="about-mysociety">

          <p>
            This is a database hosted on 
            <a href="<%- config.hosting_site_base_url %>">PopIt</a>
            - a new service from 
            <a href="http://www.mysociety.org" title="mySociety">mySociety</a>
            that lowers the barrier to getting started with transparency projects. Development is ongoing and this is 
            <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">αlpha</a> code. Please feel free to 
            <a href="<%- config.hosting_site_base_url %>/instances/new">make your own instance</a>
            , and join our 
            <a href="https://secure.mysociety.org/admin/lists/mailman/listinfo/components">mailing list</a>
            to let us know that you're interested in giving it a go. 
          </p>

          <p> 
            The <a href='https://github.com/mysociety/popit'>code is available on Github</a>,
            and we have a <a href='http://popit-dev.tumblr.com/'>dev blog</a> if you want frequent
            updates and musings on the project's development.
          </p>

          <p>
            Learn more at 
            <a href="<%- config.hosting_site_base_url %>/info/about" title="About PopIt"><%- config.hosting_site_base_url %></a>
          </p>

          <p>
            <a href="http://www.mysociety.org", title="mySociety">
              <img id="mysociety-logo" src="/img/mysociety-logo.png" />
            </a>
          </p>

      </div>
    </div>

    <div class="copyright">&copy; 2012 mySociety.org - v<%- config.popit_version %></div>

    <% // This is used to indicate to the test suite that the admin app is loaded. %>
    <br />
    <span id="instance-app-activated" class="admin-options">admin on</span>

  </footer>
</body>

</html>
