extend layout

block title
  | #{ popit.instance_name() }

block content
  .page-header
    h1 Welcome to PopIt
  p This is an instance server

  p
    | View a list of 
    a(href="/person") all the people 
    | in the database
