<%= render(
  'html_head.html',
  {
    title:       popit.pretty_name(),
    description: "Welcome to " + popit.pretty_name(),
  }
) %>

<h1>Welcome to <%- popit.pretty_name() %></h1>

<p>
  This database currently contains <%- person_count || 'no' %> <%- person_count == 1 ? 'person' : 'people' %> and <%- organization_count || 'no' %> <%- organization_count == 1 ? 'organization' : 'organizations' %>.
</p> 

<div id="person-summary" class="homepage-summary-box">
  <h2>People</h2>

  <ul>
    <% if (persons.length) { %>    
      <% _.each( persons, function(person) { %>
        <li> 
          <a href="<%= person.url %>"><%- person.name %></a>
        </li>
      <% }); %>
      <% if (person_count > summary_listing_count) { %>
        <li>
          and 
          <a href="/persons"><%- person_count - summary_listing_count %> more</a>
        </li>
      <% } %>
    <% } else { %>
      <li>
        There are no people in the database yet. 
        <br>
        <span class="admin-options">
          <a class="new-person add" href="#"> 
            <strong>+ Add</strong> a new person
          </a>
        </span>
      </li>
    <% } %>
  </ul>

  <p>
    <a href="/persons">Complete list (<%- person_count %>)</a>
  </p>

</div>

  
<div id="organization-summary" class="homepage-summary-box">

  <h2>Organizations</h2>

  <ul>
    <% if (organizations.length) { %>    
      <% _.each( organizations, function(organization) { %>
        <li> 
          <a href="<%= organization.url %>"><%- organization.name %></a>
        </li>
      <% }); %>
      <% if (organization_count > summary_listing_count) { %>
        <li>
          and 
          <a href="/organizations"><%- organization_count - summary_listing_count %> more</a>
        </li>  
      <% } %>
    <% } else { %>
      <li>
        There are no organizations in the database yet. 
        <br>
        <span class="admin-options">
          <a class="add new-organization" href="#">
            <strong>+ Add</strong> a new organization
          </a>
        </span>
      </li>
    <% } %>
  </ul>
  
  <p>
    <a href="/organizations">Complete list (<%- organization_count %>)</a>
  </p>

</div>


<div id="actions" class="homepage-summary-box">

  <div class="info">
    <p>
      <a href='<%-config.hosting_site_base_url%>/info/about'>Learn more about PopIt</a>
      - the pre-alpha platform that hosts this database.
    </p>
  </div>
  
  <div class="info admin-options">
    <a class="new-person add" href="#"> 
      <strong>+ Add</strong> a new person to the database.
    </a>
  </div>

</div>

<%= render('html_footer.html' )%>
