!!! 5



//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en-gb">
//if IE 8
  <html class="no-js lt-ie9" lang="en-gb">
//if gt IE 8
  // 
  <html lang="en-gb" class="no-js">

head

  meta(charset='UTF-8')
  //
    |
    | -------------------------------------
    | PopIt
    | -------------------------------------
    | A really easy way to store and share information about politicians or other public figures brought to you by mySociety, a charitable project which builds websites that give people simple, tangible benefits in the civic and community, and teaches through demonstration, how to use the internet most efficiently to improve lives. (http://www.mysociety.org/)
    | --------------------------------- 
  meta(name='creator', content='http://www.mysociety.org/')
  
  //- Stop IE messing up layout with silly buttons on every image 
  meta(http-equiv='imagetoolbar', content='false')
  
  //- Make sure this is different on each page, populate this with the generated summary when viewing people pages 
  //- FIXME imprement in a block
  meta(name='description', content='PopIt, a really easy way to store and share information about politicians or other public figures.')
  
  
  title
    block title
      | PopIt 
  
  link(rel='stylesheet', href='/css/popit.css', type='text/css', media='screen, print', charset='utf-8')
  link(rel='stylesheet', href='/css/print.css', type='text/css', media='print', charset='utf-8')
  
  //- Mobile viewport optimised: h5bp.com/viewport 
  meta(name='viewport', content='width=device-width,initial-scale=1')
  
  //- Modernizr
  //- In the head to stop conflicts with jQuery 
  //- Full & uncompressed for now until finished then we can do a custom cutdown build with just the bits we need 
  script(src='/js/libs/modernizr-2.5.3.js', type='text/javascript', charset='utf-8')

if locals.user
  bodyClasses = ['signed_in']
// FIXME set the body ID to be the slug version of the instance name instead of united-kingdom
body#popit-united_kingdom(class=bodyClasses)
  header#header
    h1.logo
      a(href='/')
        abbr(title='People Organisations Politicians') Pop
        | It
        if locals.popit
          span.popit-instance  : 
            span#popit_instance_name #{ popit.instance_name() }
    #user_menu
      if locals.user
        #signed_in
          | Hello 
          span.username #{user.email}
          | , 
          //- a(href='#user-preferences') View Settings
          a(href='/logout') Sign Out
      else
        #sign_in
          | already have an account? 
          a(href='/login') Sign In

  
  #content
    block content
    
  footer#footer
    div
      #sitemap
        a.logo(href='/') PopIt
        ul
          li
            a(href='/FIXME') About PopIt
          li
            a(href='/FIXME') API / Data Freedom
          li
            a(href='/FIXME') Corporate Use & Pricing
          li
            a(href='/FIXME') Self Hosting
          li
            a(href='/FIXME') Terms & Privacy Policy
      #about-mysociety
        p
          | PopIt is a project from mySociety, a charitable project which builds websites that give people simple, tangible benefits in the civic and community, and teaches through demonstration, how to use the internet most efficiently to improve lives.
        p
          | Learn more at 
          a(href='http://www.mysociety.org', title='mySociety') www.mysociety.org
    .copyright
      | ©
  //
     Javascript 
  script(src='/js/libs/jquery-1.7.2.min.js', type='text/javascript', charset='utf-8')
  script(src='/js/libs/json2_us_bb.min.js', type='text/javascript', charset='utf-8')
  script(src='/js/popit.js', type='text/javascript', charset='utf-8')

//- manually close the html tag as we opened it in a funny way using the conditional comments above
</html>