<%= render('html_head.html', {
  title:       'Legacy account upgrade',
  description: '',
}) %>


<div class="container">
  <h1>You need to upgrade your account</h1>

  <p>PopIt now uses site-wide accounts, which means you can have one account that manages multiple PopIt instances.</p>

  <p>To upgrade to to a site-wide account, either <a href="<%= config.hosting_site_base_url %>/register">register for a new account</a> or <a href="/login">login to an existing site-wide account</a></p>
</div>

<%= render('html_footer.html') %>
