extends layout

block title
  | Welcome back

block content
  div.login-form
    h1 Welcome back
    p.instructions Log back in to manage your PopIt site. 
           a(href='https://github.com/mysociety/popit/issues/17') Forgotten your details?
    if locals.errors && errors.length
       ul#errors
         each error in errors
           li.error= error

     form(action='/login', method='post')
       p
         label(for='email' ) Email:
         input#email(type='text', name='email', value=email)
       p
         label(for='password' ) Password:
         input#password(type='password', name='password' )
       p
         input#login.btn(type='submit', class="btn", value='Login')