<%= render(
  'html_head.html',
  {
    title:       'Search',
    description: '',
  }
) %>

<div class="container search-container">

  <h1>Search</h1>

  <% if (results.length) { %>
    <p>The following results have been found:</p>

    <ul>
      <% _.each( results, function (result) { %>
        <li>
          <a href="<%- result.html_url %>"><%- result.name %></a>
        </li>
      <% }); %>
    </ul>

  <% } else { %>
    <p>Sorry, no results.</p>
  <% } %>

</div>

<%= render('html_footer.html' )%>
