extend layout

block title
  | Welcome to #{ popit.instance_name() }

block content

  h1 Welcome to your new site!
  
  div.info
  
    p A new PopIt site has been created for you - ready for you to start populating
    
    // DESIGN: I forsee the links below being replaced with a couple of big icons
    // - one of a single person and one of a crowd.
    
    p
      | You should now 
      strong
        a(class="new-person", href="#") add your first person
      |  or if you already have a list of people in a spreadsheet you can use the 
      strong
        a(href='/migration') migration tool
      | .
