extend layout

block title
  | Welcome to PopIt

block content
  .page-header
    h1 Welcome to #{ popit.instance_name() }
  p This is your instance server, the next few pages will help you set it up.
