<%= render(
  'html_head.html',
  {
    title:       organization.name,
    description: organization.name + ' ' + ( organization.summary || '' ),
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'organization';
    popit.data = <%
      o = organization.toJSON();
      if (o.parent_id) {
        // Only want the ID in the popit data, for correct saving from client
        o.parent_id = o.parent_id.id;
      }
      print( JSON.stringify(o) );
    %>;
    popit.posts = <%= JSON.stringify(posts) %>;
    popit.memberships = <%= JSON.stringify( _.map( memberships, function(m) { return m.id; } ) ) %>;
</script>

<style>
.view-mode {
  display: none;
}
.edit-mode {
  display: block;
}
</style>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/organizations/<%- organization.id %>">Get this data</a>
      </div>
      <div class="btn-group">
        <% if (user || guest) { %>
          <a id="edit-organization" class="btn btn-default entity-enter-edit-mode" href="<%= organization.url %>/edit">Edit organization <span class="glyphicon glyphicon-chevron-right"></span></a>
        <% } else { %>
          <a class="btn btn-default" href="/login">Log in to edit <span class="glyphicon glyphicon-chevron-right"></span></a>
        <% } %>
      </div>
    </div>
    <div class="btn-toolbar pull-right edit-mode">
      <div class="btn-group">
        <a id="cancel-org-edit" class="btn btn-default entity-leave-edit-mode"><span class="glyphicon glyphicon-remove glyphicon-space-after"></span> Cancel</a>
      </div>
      <div class="btn-group">
        <a id="delete-organization" class="btn btn-danger entity-delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span> Delete organization</a>
      </div>
      <div class="btn-group">
        <a id="save-organization" class="btn btn-success entity-save-changes"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save changes</a>
      </div>
    </div>

    <p><a href="/organizations">Organizations</a> / <a href="<%- organization.url %>"><%- organization.name %></a></p>
  </div>
</div>

<%= render('organization/form.html') %>

<%= render('html_footer.html' )%>
