<form action="<%= organization.url %>" method="post" class="container entity organization organization-view editing">
  <input type="hidden" name="_method" value="put">

  <div class="entity-header">

    <%= render('organization/image.html') %>

    <div class="entity-header__primary-property">
      <label for="input-name">Name</label>
      <input type="text" class="form-control edit-mode" id="input-name" name="name" value="<%- organization.name %>">
      <strong class="control-label edit-mode-error" style="display: none">This organization must have a name</strong>
      <%= render('field_source/edit.html', { field: 'field_sources[name]', value: organization.get('field_sources.name') }) %>
    </div>

    <div class="entity-header__secondary-property">
      <label for="input-classification">Organization type</label>
      <div>
        <input type="text" class="form-control edit-mode" id="input-classification" name="classification" value="<%- organization.classification %>">
      </div>
      <%= render('field_source/edit.html', { field: 'field_sources[classification]', value: organization.get('field_sources.classification') }) %>
    </div>

    <div class="entity-header__social">
      <% _.each( organization.contact_details, function (item) { %>
        <% if (item.type.toLowerCase() == 'twitter') { %>
          <a href="http://twitter.com/<%= item.value %>" title="@<%= item.value %> on Twitter" class="socicon socicon-color socicon-twitter"></a>
        <% } else if (item.type.toLowerCase() == 'facebook') { %>
          <a href="http://facebook.com/<%= item.value %>" title="facebook.com/<%= item.value %>" class="socicon socicon-color socicon-facebook"></a>
        <% } %>
      <% }) %>
    </div>

  </div>

  <div class="entity-details">

    <ul class="nav nav-tabs">
      <li class="<% if (!organization.other_names.length && !organization.parent_id && !organization.founding_date && !organization.dissolution_date) { %>empty<% } %>"><a href="#details">Details</a></li>
      <li class=""><a href="#members">Members</a></li>
      <li class="<% if (!posts.length) { %>empty<% } %>"><a href="#posts">Posts</a></li>
      <li class="<% if (!organization.links.length) { %>empty<% } %>"><a href="#websites">Websites</a></li>
      <li class="<% if (!organization.contact_details.length) { %>empty<% } %>"><a href="#contact">Contact</a></li>
      <li class="<% if (!organization.sources.length) { %>empty<% } %>"><a href="#sources">Sources</a></li>
      <li class="<% if (!organization.identifiers.length) { %>empty<% } %>"><a href="#advanced">Advanced</a></li>
    </ul>

    <div class="entity-details__section" id="details">
      <div class="entity-details__property">
        <label>Other names</label>
        <%= render( 'other_name/edit-list.html', { other_names: organization.other_names, object: organization } ) %>
        <a class="add other_name-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(organization.other_names.length){ %>nother<% } %> name</a>
      </div>

      <div class="entity-details__property <% if (!organization.parent_id) { %>empty<% } %>">
        <label>Parent</label>
        <div class="field-with-metadata">
          <input type="text" class="form-control edit-mode" name="parent_id" value="<%- organization.parent_id %>">
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger-editing.html', { sourceText: organization.get('field_sources.parent_id'), sourceID: 'source-parent_id-' + organization.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display-editing.html', { sourceText: organization.get('field_sources.parent_id'), sourceID: 'source-parent_id-' + organization.id, field: 'field_sources[parent_id]' } )%>
      </div>

      <div class="entity-details__property <% if (!organization.founding_date) { %>empty<% } %>">
        <label>Founded</label>
        <div class="field-with-metadata">
          <input type="date" class="form-control edit-mode" name="founding_date" value="<%- organization.founding_date || '' %>">
          <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger-editing.html', { sourceText: organization.get('field_sources.founding_date'), sourceID: 'source-founding_date-' + organization.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display-editing.html', { sourceText: organization.get('field_sources.founding_date'), sourceID: 'source-founding_date-' + organization.id, field: 'field_sources[founding_date]' } )%>
      </div>

      <div class="entity-details__property <% if (!organization.dissolution_date) { %>empty<% } %>">
        <label>Dissolved</label>
        <div class="field-with-metadata">
          <input type="date" class="form-control edit-mode" name="dissolution_date" value="<%- organization.dissolution_date || '' %>">
          <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
          <div class="field-with-metadata__metadata">
            <%= render( 'field_source/trigger-editing.html', { sourceText: organization.get('field_sources.dissolution_date'), sourceID: 'source-dissolution_date-' + organization.id } )%>
          </div>
        </div>
        <%= render( 'field_source/display-editing.html', { sourceText: organization.get('field_sources.dissolution_date'), sourceID: 'source-dissolution_date-' + organization.id, field: 'field_sources[dissolution_date]' } )%>
      </div>
    </div>

    <div class="entity-details__section" id="members">
      <div class="entity-details__property">
        <ul class="cleared memberships">
          <% _.each( memberships, function (membership, i) { %>
            <% if (validMembership(membership, organization.id)) { %>
            <li class="membership">
              <%= render('membership/new.html', { membership: membership, organization: organization, member: relatedObject(membership, organization, lang, defaultLang), type: 'organization', sourceText: organization.get('field_sources.memberships.' + i), i: i }) %>
            </li>
            <% } %>
          <% }); %>
        </ul>
        <a class="add add-membership btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(memberships.length){ %>nother<% } %> member</a>
      </div>
    </div>


    <div class="entity-details__section" id="posts">
      <div class="entity-details__property <% if (!posts.length) { %>empty<% } %>">
        <ul class="cleared posts">
          <% _.each( posts, function ( post ) { %>
            <li><%= render( 'post/post.html', { item: post }) %></li>
          <% }); %>
          <li class="edit-mode">
            <a class="add edit-post btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(posts.length){ %>nother<% } %> post</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="entity-details__section" id="websites">
      <div class="entity-details__property">
        <ul class="links">
          <% _.each(organization.links, function(link, i) { %>
          <li>
            <%= render('link/edit.html', {link: link, i: i}) %>
            <%= render('field_source/edit.html', { field: 'field_sources[links][' + i + ']', value: organization.get('field_sources.links.' + i) }) %>
            <a href="delete" class="link-delete">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add link-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(organization.links.length){ %>nother<% } %> link</a>
      </div>
    </div>

    <div class="entity-details__section" id="contact">
      <div class="entity-details__property">
        <ul class="contact_details">
          <% _.each(organization.contact_details, function(contact, i) { %>
          <li>
            <%= render('contact/edit.html', {contact: contact, i: i}) %>
            <%= render('field_source/edit.html', { field: 'field_sources[contact_details][' + i + ']', value: organization.get('field_sources.contact_details.' + i) }) %>
            <a href="delete" class="contact-delete">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add contact-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add <% if(organization.contact_details.length){ %>more <% } %>contact details</a>
      </div>
    </div>

    <div class="entity-details__section" id="sources">
      <div class="entity-details__property">
        <ul class="sources">
          <% _.each(organization.sources, function(source, i) { %>
          <li>
          <%= render('source/edit.html', {source: source, i: i}) %>
          <a class="source-delete" href="#">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add source-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(organization.sources.length){ %>nother<% } %> source</a>
      </div>
    </div>

    <div class="entity-details__section" id="advanced">
      <div class="entity-details__property">
        <ul class="identifiers">
          <% _.each(organization.identifiers, function(identifier, i) { %>
          <li>
          <%= render('identifier/edit.html', {identifier: identifier, i: i}) %>
          <%= render('field_source/edit.html', { field: 'field_sources[identifier][' + i + ']', value: organization.get('field_sources.identifier.' + i) }) %>
          <a class="identifier-delete" href="#">Delete</a>
          </li>
          <% }) %>
        </ul>
        <a class="add identifier-edit btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add an<% if(organization.identifiers.length){ %>other<% } %> identifier</a>
      </div>
    </div>
  </div>

  <section class="custom-data" style="display: none">
    <h2>Custom data:</h2>
    <div id="jsoneditor"></div>
  </section>

</form>
