<%= render(
  'html_head.html',
  {
    title:       'Organizations',
    description: 'A list of all the organizations.',
  }
) %>

<h1>Organizations</h1>

<p class="admin-options">
  <a class="new-organization add" href="#">
    <strong>+ Add</strong>
    a new organization
  </a>
</p>


<% if (organizations.length) { %>
  <ul>
    <% _.each( organizations, function (organization) { %>
      <li>
        <a href="<%- organization.url %>"><%- organization.name %></a>
      </li>                                                
    <% }); %>
  </ul>

<% } else { %>
  <div class="info">
    <% if (user) { %>
      <h3> 
        There are no organizations in the system yet, you should probably 
        <a class="new-organization add" href="#">
          <strong>add one now</strong>!
        </a> 
        
      </h3>
      
      <p>
        You just need to provide their name, once you've 
        created their page you can add more details.
      </p>
      
      <p>
        If you already have data in a spreadsheet or similar you can use the 
        <a href="/migration" id="migration_tool">migration tool</a>
        to import it.
      </p>
    <% } else { %>
      No organizations have been entered yet.
    <% } %>
  </div>
<% } %>

<%= render('html_footer.html' )%>
