<%= render(
  'html_head.html',
  {
    title:       'Organizations',
    description: 'A list of all the organizations.',
  }
) %>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/organizations/">Get this data</a>
      </div>
      <div class="btn-group">
        <% if (permissions.can_edit_instance) { %>
          <a class="btn btn-default new-organization add" href="/organizations/new"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Add a new organization</a>
        <% } else { %>
          <a class="btn btn-default" href="/login"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span> Log in to add an organization</a>
        <% } %>
      </div>
    </div>
    <p><a href="/organizations">Organizations</a></p>
  </div>
</div>

<div class="container entity-list organization">

<% if (organizations.length) { %>

  <ul class="row">
    <% _.each(organizations, function(organization) { %>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a class="media" href="<%- organization.url %>">
          <span class="pull-left media-object initials"><%- organization.initials %></span>
          <div class="media-body">
            <h4><%- organization.name %></h4>
            <% if (organization.summary) { %>
              <p><%- organization.summary %></p>
            <% } %>
          </div>
        </a>
      </li>
    <% }); %>
  </ul>

<% } else { %>
  <div class="empty-entity-message">

    <img src="/img/icon-organizations.gif" width="115" height="85" alt="">

    <h2>There are no organizations in the system yet</h2>

    <% if (permissions.can_edit_instance) { %>
      <p>
        <a class="btn btn-primary new-organization add" href="/organizations/new">Add your first organization</a>
        <a class="btn btn-default" href="/migration">Upload a CSV of members</a>
      </p>
    <% } %>

  </div>
<% } %>

<%= render('html_footer.html' )%>
