<%= render(
  'html_head.html',
  {
    title:       organization.name,
    description: organization.name + ' ' + ( organization.summary || '' ),
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'organization';
    popit.data = <%
      o = organization.toJSON();
      if (o.parent_id) {
        // Only want the ID in the popit data, for correct saving from client
        o.parent_id = o.parent_id.id;
      }
      print( JSON.stringify(o) );
    %>;
    popit.posts = <%= JSON.stringify(posts) %>;
    popit.memberships = <%= JSON.stringify( _.map( memberships, function(m) { return m.id; } ) ) %>;
</script>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/organizations/<%- organization.id %>">JSON API</a>
      </div>
      <div class="btn-group" style="display: none">
        <a class="btn btn-default delete delete-organization">Delete organization</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-default" href="#">Edit organization <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
    <p><a href="/organizations">Organizations</a> / <a href="/organizations/<%- organization.slug %>"><%- organization.id %></a></p>
  </div>
</div>

<article class="container entity organization organization-view" itemscope itemtype="http://schema.org/Organization">

  <aside class="pull-right photo-sidebar">
    <ul class="photos">
      <% if (organization.images.length) { %>
        <% _.each( organization.images, function ( image ) { %>
          <li>
            <% if (image.url) { %>
              <% //- TODO - proxy will need changes to allow us to proxy remote images %>
              <img src="<%- image.url %>"  width="280" />
            <% } else { %>
              <img src="<%- image_proxy(organization.url + "/images/" + image.id, "", 280) %>" />
            <% } %>

            <!-- TODO: show this only on /edit page -->
            <p class="photo-actions">
              <a class="delete-photo btn btn-default btn-sm" data-image-url="<%- organization.url %>/images/<%- image.id %>">
                <span class="glyphicon glyphicon-trash glyphicon-space-after"></span>
                Delete this photograph
              </a>
            </p>
          </li>
        <% }); %>
      <% } else { %>
        <li>
          <img src='/img/organization_placeholder.svg' width="280" />
        </li>
      <% } %>
    </ul>

    <!-- TODO: show this only on /edit page -->
    <p>
      <a class="add btn btn-default btn-sm" href="<%- organization.url %>/images/upload">
        <span class="glyphicon glyphicon-plus glyphicon-space-after"></span>
        Add a photograph
      </a>
    </p>
  </aside>

  <dl class="dl-horizontal">

    <dt class="entity-attr-name">Name</dt>
    <dd class="entity-attr-name">
      <h1 class="current-entity edit-in-place" id="entity-name-in-header" title="<%- organization.name %>" data-api-name="name" ><%- organization.name %></h1>
    </dd>

    <dt>Summary</dt>
    <dd itemprop="description">
      <p id="entity-summary-text" class="edit-in-place-textarea" data-api-name="summary"><%- organization.summary %></p>
    </dd>

    <dt>Classification</dt>
    <dd>
      <p class="edit-in-place" data-api-name="classification"><%- organization.classification %></p>
    </dd>

    <dt>Parent</dt>
    <dd>
      <p class="edit-in-place-select" data-api-name="parent_id">
        <% if (organization.parent_id) { %>
          <%- organization.parent_id.name %>
        <% } %>
      </p>
    </dd>

    <dt>Founded</dt>
    <dd>
      <span data-api-name="founding_date" class="list-item-value edit-in-place"><%- organization.founding_date || '---' %></span>
    </dd>

    <dt>Dissolved</dt>
    <dd>
      <span data-api-name="dissolution_date" class="list-item-value edit-in-place"><%- organization.dissolution_date || '---' %></span>
    </dd>

    <dt>Other names</dt>
    <dd>
      <%= render( 'other_name/list.html', { other_names: organization.other_names } ) %>
    </dd>

    <dt>Posts</dt>
    <dd>
      <ul class="cleared">
        <% _.each( posts, function ( post ) { %>
          <li><%= render( 'post/view.html', { item: post }) %></li>
        <% }); %>
        <li>
          <a class="add edit-post">Add a<% if(posts.length){ %>nother<% } %> post</a>
        </li>
      </ul>
    </dd>

    <dt>Members</dt>
    <dd>
      <ul class="cleared">
        <% _.each( memberships, function ( membership ) { %>
          <%= render( 'membership/list-item.html', { membership: membership, type: 'organization' } ) %>
        <% }); %>
        <li>
          <a class="add edit-membership">Add a<% if(posts.length){ %>nother<% } %> post</a>
        </li>
      </ul>
    </dd>

    <dt>Contact details</dt>
    <dd>
      <%= render( 'contact/list.html', { contact_details: organization.contact_details } ) %>
    </dd>

    <dt>Links</dt>
    <dd>
      <%= render( 'link/list.html', { links: organization.links } ) %>
    </dd>

    <dt>Identifiers</dt>
    <dd>
      <%= render( 'identifier/list.html', { identifiers: organization.identifiers } ) %>
    </dd>
  </dl>


  <section class="custom-data" style="display: none">
    <h2>Custom data:</h2>
    <div id="jsoneditor"></div>
  </section>

</article>

<%= render('html_footer.html' )%>

