<%= render(
  'html_head.html',
  {
    title:       organization.name,
    description: organization.name + ' ' + ( organization.summary || '' ),
  }
) %>

<script>
    var popit = popit || {};
    popit.type = 'organization';
    popit.data = <%
      o = organization.toJSON();
      if (o.parent_id) {
        // Only want the ID in the popit data, for correct saving from client
        o.parent_id = o.parent_id.id;
      }
      print( JSON.stringify(o) );
    %>;
    popit.posts = <%= JSON.stringify(posts) %>;
    popit.memberships = <%= JSON.stringify( _.map( memberships, function(m) { return m.id; } ) ) %>;
</script>

<div class="popit-toolbar entity-toolbar">
  <div class="container">
    <div class="btn-toolbar pull-right view-mode">
      <div class="btn-group">
        <a class="btn btn-default" href="/api/v0.1/organizations/<%- organization.id %>">JSON API</a>
      </div>
      <div class="btn-group">
        <% if (user || guest) { %>
          <a id="edit-organization" class="btn btn-default entity-enter-edit-mode">Edit organization <span class="glyphicon glyphicon-chevron-right"></span></a>
        <% } else { %>
          <a class="btn btn-default" href="/login">Log in to edit <span class="glyphicon glyphicon-chevron-right"></span></a>
          <% } %>
      </div>
    </div>
    <div class="btn-toolbar pull-right edit-mode">
      <div class="btn-group">
        <a id="cancel-org-edit" class="btn btn-default entity-leave-edit-mode"><span class="glyphicon glyphicon-remove glyphicon-space-after"></span> Cancel</a>
      </div>
      <div class="btn-group">
        <a id="delete-organization" class="btn btn-danger entity-delete"><span class="glyphicon glyphicon-ban-circle glyphicon-space-after"></span> Delete organization</a>
      </div>
      <div class="btn-group">
        <a id="save-organization" class="btn btn-success entity-save-changes"><span class="glyphicon glyphicon-ok glyphicon-space-after"></span> Save changes</a>
      </div>
    </div>
    <p><a href="/organizations">Organizations</a> / <a href="/organizations/<%- organization.slug %>"><%- organization.id %></a></p>
  </div>
</div>

<article class="container entity organization organization-view" itemscope itemtype="http://schema.org/Organization">

  <aside class="photo-sidebar">
    <ul class="photos">
      <% if (organization.images.length) { %>
        <% _.each( organization.images, function ( image ) { %>
          <li>
            <% if (image.url) { %>
              <% //- TODO - proxy will need changes to allow us to proxy remote images %>
              <img src="<%- image.url %>"  width="280" />
            <% } else { %>
              <img src="<%- image_proxy(image_url( 'organization', organization, image ) , "", 280) %>" />
            <% } %>

            <p class="photo-actions edit-mode">
            <a class="delete-photo btn btn-default btn-sm" data-image-url="<%- image_url( 'organization', organization, image ) %>">
                <span class="glyphicon glyphicon-trash glyphicon-space-after"></span>
                Delete this photograph
              </a>
            </p>
          </li>
        <% }); %>
      <% } else { %>
        <li>
          <img src='/img/placeholder-organization.gif' width="280" />
        </li>
      <% } %>
    </ul>

    <p class="edit-mode">
      <a class="add btn btn-default btn-sm" href="<%- organization.url %>/images/upload">
        <span class="glyphicon glyphicon-plus glyphicon-space-after"></span>
        Add a photograph
      </a>
    </p>
  </aside>

  <dl class="dl-horizontal">

    <dt class="entity-attr-name">Name</dt>
    <dd class="entity-attr-name">
      <h1 itemprop="name" class="view-mode" data-api-name="name"><%- organization.name %></h1>
      <strong class="control-label edit-mode-error" style="display: none">This organization must have a name</strong>
      <input type="text" class="form-control edit-mode" data-api-name="name" value="<%- organization.name %>">
    </dd>

    <dt>Summary</dt>
    <dd itemprop="description">
      <p class="view-mode" data-api-name="summary"><%- organization.summary %></p>
      <textarea class="form-control edit-mode" data-api-name="summary"><%- organization.summary %></textarea>
    </dd>

    <dt>Classification</dt>
    <dd>
      <p class="view-mode" data-api-name="classification"><%- organization.classification %></p>
      <input type="text" class="form-control edit-mode" data-api-name="classification" value="<%- organization.classification %>">
    </dd>

    <dt>Parent</dt>
    <dd>
      <p class="view-mode" data-api-name="parent_id">
        <% if (organization.parent_id) { %>
          <%- organization.parent_id.name %>
        <% } %>
      </p>
      <input type="text" class="form-control edit-mode" data-api-name="parent_id" value="<%- organization.parent_id %>">
    </dd>

    <dt>Founded</dt>
    <dd>
      <p class="view-mode" data-api-name="founding_date"><%- organization.founding_date || '' %></p>
      <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
      <input type="date" class="form-control edit-mode" data-api-name="founding_date" value="<%- organization.founding_date || '' %>">
    </dd>

    <dt>Dissolved</dt>
    <dd>
      <p class="view-mode" data-api-name="dissolution_date"><%- organization.dissolution_date || '' %></p>
      <strong class="control-label edit-mode-error" style="display: none">Dates should be in YYYY, YYYY-MM or YYYY-MM-DD format</strong>
      <input type="date" class="form-control edit-mode" data-api-name="dissolution_date" value="<%- organization.dissolution_date || '' %>">
    </dd>

    <dt>Other names</dt>
    <dd>
      <%= render( 'other_name/list.html', { other_names: organization.other_names } ) %>
    </dd>

    <dt>Posts</dt>
    <dd>
      <ul class="cleared posts">
        <% _.each( posts, function ( post ) { %>
          <li><%= render( 'post/view.html', { item: post }) %></li>
        <% }); %>
        <li class="edit-mode">
          <a class="add edit-post btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(posts.length){ %>nother<% } %> post</a>
        </li>
      </ul>
    </dd>

    <dt>Members</dt>
    <dd>
      <ul class="cleared memberships">
        <% _.each( memberships, function ( membership ) { %>
          <%= render( 'membership/list-item.html', { membership: membership, type: 'organization' } ) %>
        <% }); %>
        <li class="edit-mode">
          <a class="add edit-membership btn"><span class="glyphicon glyphicon-plus glyphicon-space-after"></span>Add a<% if(posts.length){ %>nother<% } %> member</a>
        </li>
      </ul>
    </dd>

    <dt>Contact details</dt>
    <dd>
      <%= render( 'contact/list.html', { contact_details: organization.contact_details } ) %>
    </dd>

    <dt>Links</dt>
    <dd>
      <%= render( 'link/list.html', { links: organization.links } ) %>
    </dd>

    <dt>Identifiers</dt>
    <dd>
      <%= render( 'identifier/list.html', { identifiers: organization.identifiers } ) %>
    </dd>
  </dl>


  <section class="custom-data" style="display: none">
    <h2>Custom data:</h2>
    <div id="jsoneditor"></div>
  </section>

</article>

<%= render('html_footer.html' )%>

