  <a href="<%- member.url %>"><%- member.name %></a>
  <% var today = new Date(); %>
  <% if (membership.start_date && membership.end_date ) { %>
    <% if ( new Date(membership.start_date) < today && new Date(membership.end_date) > today ) { %>
      is
    <% } else if ( new Date(membership.end_date) < today ) { %>
      was
    <% } else { %>
      will be
    <% } %>
  <% } else if (membership.end_date) { %>
    <% if (new Date(membership.end_date) < today ){ %>
      was
    <% } else {%>
      will be
    <% } %>
  <% } else if (membership.start_date) { %>
    <% if (new Date(membership.start_date) < today ) { %>
      has been
    <% } else {%>
      will be
    <% } %>
  <% } else { %>
    is
  <% } %>
  <% if (membership.post_id) { %>
    <% if (membership.post_id.role && membership.role) { %>
      <a href="<%- membership.post_id.url %>"><%- membership.post_id.role %></a> <%- membership.role %>
    <% } else if (membership.post_id.role) { %>
      <a href="<%- membership.post_id.url %>"><%- membership.post_id.role %></a>
    <% } else if (membership.post_id.label) { %>
      <a href="<%- membership.post_id.url %>"><%- membership.post_id.label %></a>
    <% } %>
  <% } else if (membership.role) { %>
    <%- membership.role %>
  <% } else if (membership.label) { %>
    <%- membership.label %>
  <% } else { %>
    a member
  <% } %>

  of <a href="<%- organization.url %>"><%- organization.name %></a>

  <% if (membership.post_id && membership.post_id.area && membership.post_id.area.name) { %>
    representing <%- membership.post_id.get('area').name %>
  <% } else if (membership && membership.area && membership.area.name) { %>
    representing <%- membership.get('area').name %>
  <% } %>
  <% if (membership.start_date && membership.end_date) { %>
    between <%- membership.start_date %> and <%- membership.end_date %>
  <% } else if(membership.end_date) { %>
    until <%- membership.end_date %>
  <% } else if(membership.start_date) { %>
    <% if (new Date(membership.start_date) < new Date()) { %>
      since <%- membership.start_date %>
    <% } else {%>
      after <%- membership.start_date %>
    <% } %>
  <% } %>

  <% if (membership.on_behalf_of_id) { %>
    on behalf of
    <a href="<%- membership.on_behalf_of_id.url %>"><%- membership.on_behalf_of_id.name %></a>
  <% } %>
