<%= render(
  'html_head.html',
  {
    title:       membership.name,
    description: '',
  }
) %>

<h1></h1>

<article class="container membership">

  <h1><%- membership.role %></h1>

  <% if (membership.person_id) { %>
    <section class="person">
      <p>
        Person:
        <a href="<%- membership.person_id.url %>"><%- membership.person_id.name %></a>
      </p>
    </section>
  <% } %>

  <% if (membership.organization_id) { %>
    <section class="organization">
      <p>
        Organization:
        <a href="<%- membership.organization_id.url %>"><%- membership.organization_id.name %></a>
      </p>
    </section>
  <% } %>

  <p>Start Date: <%- membership.start_date || 'Unknown' %></p>
  <p>End Date:   <%- membership.end_date   || 'Unknown' %></p>

  <section class="raw-data">
    <h2>Raw data</h2>
    <p>
      The details for this membership are also available in
      <a href="<%- membership.url %>">JSON</a>.
    </p>
  </section>

</article>

<%= render('html_footer.html' )%>
