extend layout

block title
  | About PopIt

block content


  h1 About PopIt
  
  p PopIt is a website that lets you store and share information on People, Organisations and Positions. It is free and open source and you can either run your own instance or use our hosting service. It is free, open source and brought to you by the people at mySociety.
  
  p But it is also the first of many "components" - little services that you can pick and combine to build a really powerful website. PopIt provides the people and organisations, whilst other components may provide votes, or bills and legislation, or attendance records. We won't produce all of these - we're hoping that it will be a community effort.
  
  
  h2 More on PopIt as a website

  p The hardest part about setting up a transparency site for your country should be the gathering of the data, as that is the bit that is unique to you. All other steps should be easy, ideally trivially so, at least whilst starting the site.

  p In the past creating a website like TheyWorkForYou.com has meant writing code. We thought that this was the wrong starting point and so PopIt lets you start a site without needing any technical skills.

  p PopIt is based on the lessons learned from sites such as TheyWorkForYou.com, YourNextMP.com and Mzalendo.com. It is not a replacement for these sites, but tries to extract one core part of the functionality that is needed by all of them.
  
  
  h2 How we see a PopIt instance evolving
  
  p At the start you’ll just have the desire to run a transparency site. You may or may not have some data that you’ve already gathered. You create a PopIt site and start to enter in the details you have. 

  p You then share your site with others and they start to suggest details to add, like missing phone numbers or people. You start to give some of these people user accounts so that they can edit the data directly. Others start to build things using your data which is available over an API, which means that more people suggest new data and corrections.

  p You now have a site with data in, and a small community of people who are helping to maintain it. Perhaps at this point you decide that you’d like your own site so you create one. You access all the data via the PopIt API and use the PopIt web interface to edit and maintain it. This is much easier than creating a whole site from scratch.

  p Now that you have your own site you want to add more data that PopIt does not support. You continue to maintain some of the data through the PopIt web interface, but some additional data you provide by writing it using the API. Perhaps you create other data-stores that you access through an API.

  p You’d like your site to be faster, so you move the data and code onto your own server by installing the PopIt code base and exporting your data to it.

  p Finally you’ve made so many changes to the data that you’d rather talk to the database direct - you stop using the PopIt API completely and access the database directly. Perhaps you still run the PopIt code though - so that others can access your data through the API it provides.

  p We don’t expect all sites to take all the steps above - many will not need to go all the way to fulfil their aims. But if you need to you can - there is no lock-in at all. Our intention is that there should be minimal barriers to getting started and making progress.


  h2 How PopIt fits in to the bigger 'components' picture
  
  p We know that sites like TheyWorkForYou are very complicated. We know that every country is different so a one size fits all solution can't exist. But we also think that everyone writing their sites from scratch is silly, as there are some parts that are common. We call these parts components.
  
  p Each component will focus on one problem - just like PopIt focusses on who's who. Another component from mySociety is MapIt - which focuses purely on boundaries and areas.
  
  p It is important to note that the components all run independently. They are not pugins to a framework, there is no 'master' component. They need not be written in the same language. All they need to do is be able to store information and make it available to others over an API - which will most likely be a REST API.

  p Whilst components can just be an API it is likely that there will be more to them. For example both PopIt and MapIt provide HTML interfaces so that you can browse the data as a website. They both provide admin facilities so that you can edit the data easily as well. Other components will likely provide similar features tuned to the purpose that they serve.
