extend layout

block title
  | Privacy

block content
  h1 Privacy

  p 
    | Privacy text goes here - see 
    a(href="https://github.com/mysociety/popit/issues/12") https://github.com/mysociety/popit/issues/12
  

  h1 Terms and Conditions
  
  p 
    | By uploading and ethering data to PopIt (except your private login 
    | details) you consent for that data to be released under the Open Data 
    | Commons Open Database License (
    a(href="http://opendatacommons.org/licenses/odbl/") ODbL
    | ). You will always be able to download all your data for re-use elsewhere, 
    | including on local instances of PopIt.

  p
    | We reserve the right to remove data or block accounts if the continued 
    | functioning of the wider PopIt site is threatened, or if your use of the 
    | site is clearly anti-social.

  p 
    | We will not share your private login details with anyone else, but the 
    | data you author on the site will be public and world readable by default.

  p
    | PopIt is a platform. mySociety does not pre-moderate content, and the 
    | content does not belong to mySociety. Any concerns about bad data should 
    | be initially directed at the person who owns and maintains the individual 
    | PopIt site. If this is unsuccessful, then you can contact us at 
    | hello@mysociety.org

  p
    | As a UK registered charity mySociety cannot subsidise commercial companies 
    | by providing them with free services. If you want to make use of PopIt for 
    | commercial purposes, please mail commercial@mysociety.org to discuss the 
    | options.

  p
    | mySociety is keen for the data on PopIt instances to be up to date. To 
    | that extent we reserve the right to post warnings that data is potentially 
    | out of data on pages and in the API when we believe that it might be 
    | misleading.