extend layout

block title
  | Host your own PopIt

block content

  h1 Host your own PopIt site

  p 
    | We'll host your site for you, for free - but if you want to run your own
    |site then you can do that too.
  
  p
    | You might want your own site if your users are not near the UK (where our
    | servers are based). Or you might want to access the database directly,
    | rather than using the API.
  
  p
    | The PopIt code is open source and available to download from the 
    a(href="https://github.com/mysociety/popit") GitHub PopIt repository
    | . There you will find instructions on installing and running the site.
  
  p
    | If you already have a site hosted on our servers and want to run it on 
    | yours let us know and we'll arrange to transfer the database and image 
    | files to you.