extend ../layout

block title
  | Organisations

block meta_headers
  meta(name='description', content='A list of all the organisations.')

block content
  h1 Organisations
  
  p
    a(href="/organisation/new") Create a new organisation

  if organisations.length
    ul
      for organisation in organisations
        li
          //- if organisation.images.length
          //-   img(src="/image/#{organisation.images[0]}-original", height="60")
          a(href="#{ organisation.slug_url }") #{ organisation.name }  

  else
    p.error There are no organisations in the system yet
