extend ../layout

block title
  | Organisations

block meta_headers
  meta(name='description', content='A list of all the organisations.')

block content
  h1 Organisations
  
  p.admin-options
    a(class="new-organisation add", href="#") 
      strong + Add
      |  a new organisation

  if organisations.length
    ul
      for organisation in organisations
        li
          //- if organisation.images.length
          //-   img(src="/image/#{organisation.images[0]}", height="60")
          a(href="#{ organisation.slug_url }") #{ organisation.name }  

  else
    if locals.user
      div.info
        h3 
          | There are no organisations in the system yet, you should probably 
          a(class="new-organisation add", href="#")
            strong add one now
          | !
      
        p
          | You just need to provide their name, once you've 
          | created their page you can add more details.
      
        p
          | If you already have data in a spreadsheet or similar you can use the 
          a(href="/migration", id="migration_tool") migration tool
          |  to import it.
    else
      div.info
        | No organisations have been entered yet.
