#new-organisation
  h1 Add a organisation
  
  form(name="create-new-organisation")
    // more content inserted in the bb view

    h2 Suggestions
    ul.suggestions
    
    input(type='submit', value="Create new organisation")
    
