extend layout

block content
  h1 Dev tools
  
  p#message
    if locals.message
      strong #{ message }
    else
      | No action was taken.
    
  p
    a#home(href="/") Home
    
  if popit.is_master()
    h2 Hosting site
  
    form(action="/_dev/add_instance_to_master", method="post", name="add_instance_to_master")
      | slug: 
      input(name="instance_slug")
      input(type="submit", value="Add instance to master") 

    form(action="/_dev/delete_instance", method="post", name="delete_instance")
      | slug: 
      input(name="instance_slug")
      input(type="submit", value="Delete instance (both the instance and the entry in master's database)") 

  else
    h2 Instance site '#{popit.instance_name()}'
    
    form(action="/_dev/delete_instance_database", method="post")
      button#delete_instance_database Delete this instance's database

    form(action="/_dev/load_test_fixture", method="post")
      button#load_test_fixture Load the testing fixture
