<label for="other_name_name_<%= i %>">Name</label>
<input type="text" id="other_name_name_<%= i %>" name="other_names[<%= i %>][name]" value="<%= name.name %>">

<label for="other_name_start_date_<%= i %>">Start date</label>
<input type="text" id="other_name_start_date_<%= i %>" name="other_names[<%= i %>][start_date]" value="<%= name.start_date %>" placeholder="YYYY-MM-DD">

<label for="other_name_end_date_<%= i %>">End date</label>
<input type="text" id="other_name_end_date_<%= i %>" name="other_names[<%= i %>][end_date]" value="<%= name.end_date %>" placeholder="YYYY-MM-DD">

<label for="other_name_note_<%= i %>">Note</label>
<input type="text" id="other_name_note_<%= i %>" name="other_names[<%= i %>][note]" value="<%= name.note %>">
