<div class="field-with-metadata">
  <% if (item.note) { %>
    <strong><%- item.note %>:</strong>
  <% } %>
  <%- item.name %>
  <% if (item.start_date || item.end_date) { %>
    <span class="text-muted">(<%- item.start_date || '?' %> &ndash; <%- item.end_date || '?' %>)</span>
  <% } %>
  <div class="field-with-metadata__metadata">
    <%= render( 'field_source/trigger.html', { sourceText: sourceText, sourceID: 'source-other_name-' + item.id } )%>
  </div>
</div>
<%= render( 'field_source/display.html', { sourceText: sourceText, sourceID: 'source-other_name-' + item.id } )%>
