
<!DOCTYPE html>

<!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb">
<![endif]-->
<!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8" lang="en-gb">
<![endif]-->
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en-gb">
<![endif]-->
<!--[if gt IE 8]>
    <!-- -->
    <html lang="en-gb" class="no-js">
<![endif]-->

<head>
  <meta charset="UTF-8">
  <!--
    PopIt

    A really easy way to store and share information about politicians or other
    public figures brought to you by mySociety, a charitable project which
    builds websites that give people simple, tangible benefits in the civic and
    community, and teaches through demonstration, how to use the internet most
    efficiently to improve lives. (http://www.mysociety.org/)
  -->

  <meta name="creator" content="http://www.mysociety.org/">
  <meta http-equiv="imagetoolbar" content="false">
  <meta name="description" content="<%- description %>">

  <title><%- title %></title>

  <link rel="stylesheet" href="/css/popit.css?v<%- config.popit_version %>" type="text/css" media="screen, print" charset="utf-8">
  <link rel="stylesheet" href="/css/print.css?v<%- config.popit_version %>" type="text/css" media="print" charset="utf-8">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <script>var require = { urlArgs: 'v<%- config.popit_version %>' };</script>
  <script src="/js/libs/require-1.0.8.js" data-main="/js/main-hosting" type="text/javascript" charset="utf-8"></script>

</head>

<body class="brand_page">

  <% if ( config.show_dev_site_warning ) { %>
  <div id="dev-site-warning">
    <strong>WARNING!</strong>
    This is a development site and data may be deleted at any time!
    <a href="/_dev">(dev tools)</a>
  </div>
  <% } %>

  <header id="header">
    <h1 class="logo"><abbr title="People Organisations Positions">Pop</abbr>It</h1>
  </header>

  <div id="content">