  </div>
  <footer id="footer">
    <div>

      <div id="sitemap">
        <ul>
          <li><a href="/info/about">About PopIt</a></li>
          <li><a href="/info/data-import">Data Freedom</a></li>
          <li><a href="/info/self-hosting">Self Hosting</a></li>
          <li><a href="/info/privacy">Terms & Privacy Policy</a></li>
        </ul>
      </div>

      <div id="about-mysociety">
        <a href="http://www.mysociety.org" title="mySociety">
          <img src="/img/mysociety-logo.png" class="mysociety-logo">
        </a>
        
        <p>This is the <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">α</a>lpha of <a href="<%= config.hosting_site_base_url %>">PopIt</a>, a new service for lowering the barrier to getting started with transparency projects. Please feel free to make a <a href="<%= config.hosting_site_base_url %>/instances/new">new instance</a>, and join <a href="https://secure.mysociety.org/admin/lists/mailman/listinfo/components">our mailing list</a> to let us know that you're interested in giving it a go.</p>

        <p>The <a href="https://github.com/mysociety/popit">code is available on Github</a>, and we have a  <a href="http://popit-dev.tumblr.com/">dev blog</a> if you want frequent updates and musings on the project's development.</p>

        <p>Learn more at <a href="http://popit.mysociety.org/info/about" title="About PopIt">popit.mysociety.org</a></p>

      </div>
    </div>
    <div class="copyright">&copy; 2012 mySociety.org - v<%- config.popit_version %></div>
  </footer>
</body>

</html>
