  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-5">
          <p>This is the <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">alpha</a> of <a href="<%= config.hosting_site_base_url %>">PopIt</a>, a new service for lowering the barrier to getting started with transparency projects. Please feel free to join <a href="https://groups.google.com/forum/#!forum/poplus">the poplus mailing list</a> if you&rsquo;re interested in giving it a go.</p>
          <p>The PopIt <a href="https://github.com/mysociety/popit">source code is available on Github</a>.</p>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <ul>
            <li><a href="/info/about">About PopIt</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/info/data-import">Data Freedom</a></li>
            <li><a href="/info/self-hosting">Self Hosting</a></li>
          </ul>
        </div>

        <div class="col-sm-3">
          <p class="footer-logo">
            <a href="http://www.mysociety.org", title="mySociety">
              <img id="mysociety-logo" src="/img/mysociety-logo.png" />
            </a>
          </p>
          <p class="copyright">&copy; 2014 mySociety.org - v<%- config.popit_version %></p>
          <p class="terms"><a href="/info/privacy">Terms &amp; Privacy Policy</a></p>
          <% // This is used to indicate to the test suite that the admin app is loaded. %>
          <!-- <p id="instance-app-activated" class="admin-options">admin on</p> -->
        </div>

      </div>
    </div>
  </footer>
</body>

</html>
