<%= render(
  'html_head.html',
  {
    title:       'Welcome to PopIt',
    description: 'PopIt, a really easy way to store and share information about politicians or other public figures.',
  }
) %>

<div id="promo-box">
  <h1>Welcome to PopIt</h1>
  <p>
    PopIt makes it simple to start and maintain a public database of 
    people, organizations and positions.
  </p>

  <p>
    Creation of new sites is currently disabled. We're making some fairly big 
    changes to the codebase and don't want people to have the site break under 
    them.
  </p>

  <p>
    These changes will include making the API much simpler and switching it to 
    use the <a href="http://popoloproject.com/">Popolo standard</a> for data 
    validation. We'll also be making it much easier to use PopIt in your own 
    website by providing code for use in frameworks like Django.
  </p>

  <p>
    If you want to be informed when we re-enable site creation please <a href="https://docs.google.com/forms/d/1__n1UhDjF7Tk_UIF5gx0XmTEtSbmNYS7a1t-DyU5ggA/viewform">give us 
    your email address</a>.
  </p>

  <!--
  <p>
    Create your own site and you can start to enter details 
    and share them with others as web pages or over an API. You can store 
    contact details and links to other sites, and photos.
  </p>

  <p><a href="/instances/new" class="btn">Create your PopIt site</a></p>
  -->

  <p><a href="/instances" class="btn">Browse existing sites</a></p>

</div>

<%= render('html_footer.html' )%>
