<%= render(
  'html_head.html',
  {
    title:       'Welcome to PopIt',
    description: 'PopIt, a really easy way to store and share information about politicians or other public figures.',
  }
) %>

<div id="promo-box">
  <h1>Welcome to PopIt</h1>
  <p>
    PopIt makes it simple to start and maintain a public database of 
    people, organisations and positions.
  </p>
  <p>
    Create your own site and you can start to enter details 
    and share them with others as web pages or over an API. You can store 
    contact details and links to other sites, and photos.
  </p>

  <!--
    <p><a href="/instances/new" class="btn">Create your PopIt site</a></p>
  -->
  <p><a href="/instances" class="btn">Browse existing sites</a></p>
</div>

<%= render('html_footer.html' )%>
