<%= render(
'html_head.html',
{
title:       'Instance creation is disabled',
description: '',
}
) %>

<div class="container hosting-app-instance-new">

  <h1>Development has been stopped on PopIt.</h1>

  <p class="lead">
    As part of this we've disabled new instance creation.
    Existing instances will be hosted until July 2016.
  </p>
  <a href="https://groups.google.com/d/msg/poplus/hIFdan_rIS8/36rx3dLPCQAJ" class="btn btn-primary">Find out more in the announcement post…</a></p>

</div>

<%= render('html_footer.html' )%>
