extends layout

block title
  | Wrong token for #{ instance.slug }

block content
  h1 #{ instance.slug }
  h2 Wrong confirmation token
  p The token you have is wrong, please check it and try again.
