extends layout

block title
  | Confirm #{ instance.slug }

block content
    
  h1 Fantastic
  
  p
    | thanks for confirming your email - now choose the type of the first 
    | politician to add to the site
    
  //- The various options are dummy options for now
  form(method='post', action='')
    div
      input(type='submit', name='elected', value='a politician in an elected assembly')
    div
      input(type='submit', disabled, value='a president, prime minister, dictator or supreme leader')
    div
      input(type='submit', disabled, value='a candidate for election to an assembly')
    div
      input(type='submit', disabled, value='an elected public servant (judge, sheriff)')
    div
      input(type='submit', disabled, value='other - create your own custom position')
