
<div class="page-header">
    <h1>Create a new instance</h1>
</div>

<p>To start using PopIt you need to create a new instance. This is quick, easy, free and you do it by filling in the form below.</p>

<form method="post" action="" class="well form-horizontal">

    <fieldset>
        <legend>Create a new Instance</legend>

        <div class="control-group {{#errors.slug}}error{{/errors.slug}}">
             <label class="control-label" for="slug">Instance Slug</label>
             <div class="controls">
                 <input type="text" class="input-xlarge" id="slug" name="slug" value="{{ slug }}">
                 <span class="add-on">.popitdomain.org</span>
                 <p class="help-block">This is the url that your instance will have. Length between 4 and 20. Chars 'a' to 'z', '0' to '9' and '-' only.</p>
                 {{#errors.slug}}Error is '{{ errors.slug.type }}'.{{/errors.slug}}
            </div>
        </div>
          
        <div class="control-group {{#errors.email}}error{{/errors.email}}">
             <label class="control-label" for="email">Your Email address</label>
             <div class="controls">
                 <input type="text" class="input-xlarge" id="email" name="email" value="{{ email }}">
                 <p class="help-block">We need to know who you are.</p>
                 {{#errors.email}}Error is '{{ errors.email.type }}'.{{/errors.email}}
            </div>
        </div>
          
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create Instance" />
        </div>

    </fieldset>

</form>
