<%= render(
  'html_head.html',
  {
    title:       instance.info.name || instance.slug,
    description: (instance.info.name || instance.slug) + (instance.info.description || ''),
  }
) %>

<div class="container hosting-app-instance">

  <dl class="dl-horizontal">
    <dt class="hosting-app-instance-name">Instance:</dt>
    <dd class="hosting-app-instance-name"><%= instance.info.name || instance.slug %></dd>
    <dt>URL:</dt>
    <dd><a href="<%- instance.base_url %>"><%- instance.base_url %></a></dd>
    <dt>Description:</dt>
    <dd>
      <% if ( instance.info.description ) { %>
        <%- instance.info.description %>
      <% } else { %>
        <span class="text-muted">(None)</span>
      <% } %>
    </dd>
    <% if ( instance.info.name ) { %>
      <dt>People:</dt>
      <dd><%- instance.info.person_count || 0 %></dd>
      <dt>Organizations:</dt>
      <dd><%- instance.info.organization_count || 0 %></dd>
      <dt>Last updated:</dt>
      <dd><%- moment( instance.info.last_updated ).fromNow() %></dd>
    <% } %>

</div>

<%= render('html_footer.html' )%>

