extends layout

block title
  | Confirm #{ instance.slug }

block content
    
  h1 Fantastic!
  
  p
    | You have confirmed your email address, now create your instance.
  
  p Please note that:
  
  ul
    li PopIt is still alpha code - things might break.
    li All your data will be public.
    li Some features are missing - we'll working on adding them.
  
  form(method='post', action='')
    p
      input(type='submit', class="btn", value='I understand, create my site!')
