<%= render(
  'html_head.html',
  {
    title:       'Instance Directory',
    description: 'A list of all the PopIt sites.',
  }
) %>

<div class="container hosting-app-instances">

    <% if (user) { %>
    <div class="list-group">
      <h2>Your PopIts</h2>
      <% if (instances.length) { %>
      <% _.each(instances, function(instance) { %>
        <a id="instance-<%- instance.slug %>" href="/instances/<%- instance.slug %>" class="list-group-item">
          <h4 class="list-group-item-heading"><%- instance.info.name || instance.slug %></h4>
          <% if (instance.info.description) { %>
            <p class="list-group-item-text"><%- instance.info.description %></p>
          <% } %>
        </a>
      <% }); %>
      <% } else { %>
      <p>You have not created any PopIts yet.</p>
      <% } %>
    </div>

    <p class="text-center"><a href="/instances/new" class="btn btn-primary">Create a PopIt</a></p>
    <% } %>

    <div class="list-group">
      <% if ( config.hosting_site_base_url === 'http://popit.mysociety.org' ) { %>
        <h2>Featured PopIts</h2>
        <a id="instance-kenyan" href="/instances/kenyan-politicians" class="list-group-item">
          <h4 class="list-group-item-heading">Kenyan Politicians</h4>
        </a>
        <a id="instance-za-peoples-assembly" href="/instances/za-peoples-assembly" class="list-group-item">
          <h4 class="list-group-item-heading">South African peoples assembly</h4>
        </a>
        <a id="instance-eduskunta" href="/instances/eduskunta" class="list-group-item">
          <h4 class="list-group-item-heading">Finnish Parliament</h4>
        </a>
        <a id="instance-legisladores-ar" href="/instances/legisladores-ar" class="list-group-item">
          <h4 class="list-group-item-heading">Legisladores, Argentina</h4>
        </a>
      <% } else { %>
        <h2>All PopIts</h1>
        <% _.each(all_instances, function(instance) { %>
          <a id="instance-<%- instance.slug %>" href="/instances/<%- instance.slug %>" class="list-group-item">
            <h4 class="list-group-item-heading"><%- instance.info.name || instance.slug %></h4>
            <% if (instance.info.description) { %>
              <p class="list-group-item-text"><%- instance.info.description %></p>
            <% } %>
          </a>
        <% }); %>
      <% } %>
    </div>

    <p class="text-center"><a href="/" class="btn btn-primary">Back to homepage</a></p>

</div>

<%= render('html_footer.html' )%>
