extends layout

block title
  | Confirm #{ instance.slug }

block content
  .page-header
    h1 #{ instance.slug }
  p
    | Please click the button below to create your site!
  form.well.form-horizontal(method='post', action='')
    fieldset
      .form-actions
        input.btn.btn-primary(type='submit', value='Create your PopIt website')
