extends layout

block title
  #{ instance.slug }

block content
  .page-header
    h1 #{ instance.slug }
  p
    | This site is up and running!
  p
    a(href=instance.base_url) #{ instance.base_url }
  p
    | More details about this site go here so that people browsing for instance to
    | contribute to can find them. Should have proper name, description, country of
    | interest etc etc.
