extends layout

block content
    .page-header
      h1 #{ instance.slug }
    p
      | This site has been reserved but not created yet. An email has been sent to
      | the site creator with the details needed to finish the process.
    p
      | If you are the site creator and have not received the confirmation link
      | please check you spam folder. If not there then please contact us.
