extends layout

block title
  #{ instance.slug }

block content
  .page-header
    h1 #{ instance.slug }

  p
    a(href=instance.base_url) #{ instance.base_url }

  p
    | There are no more details about this site.