<%= render(
  'html_head.html',
  {
    title:       'Create your PopIt site',
    description: '',
  }
) %>

<div class="container hosting-app-instance-new">

  <h1>Make your own PopIt instance</h1>

  <p class="lead">
    Creating your own PopIt instance is quick, easy, and free. Once you fill in this form, we&rsquo;ll take you straight to your new instance.
  </p>

  <hr>

  <form class="form-horizontal" method='post' action='' role="form">

    <p class="form-group <%- errors.slug ? 'has-error' : '' %>">
      <label class="control-label" for="slug">Pick a website name</label>
      <span class="input-group">
        <span class="input-group-addon"><%= config.force_https ? 'https' : 'http' %>://</span>
        <input id="slug" class="form-control" type="text" name="slug" data-validation="required url_safe" required value="<%- slug %>" />
        <span class="input-group-addon"><%- config.instance_site_base_url_suffix %></span>
      </span>
      <% if (errors.slug == 'slug_not_unique' ) { %>
      <span class="help-block">A Popit instance with that name already exists at <a href="<%= existing_instance_url %>"><%= existing_instance_url %></a></span>
      <% } else if (errors.slug) { %>
        <span class="help-block">Your website name can only contain letters and numbers. It should be at least four letters long but no longer than 20.</span>
      <% } %>
    </p>

    <p class="form-group last">
      <button class="btn btn-primary" type="submit">Create your own PopIt</button>
    </p>

  </form>

</div>

<%= render('html_footer.html' )%>

