<%= render('html_head.html', {
  title:       'Password reset',
  description: '',
}) %>

<div class="login-form container">
  <h1>Change your password</h1>

  <% if (errors.length) { %>
    <ul id="errors">
      <% _.each(errors, function(error) { %>
        <li class="error"><%- error %></li>
      <%}); %>
    </ul>
  <% } %>

  <form action="/password-reset/<%- token %>" method="post">


      <p class="form-group">
        <label for="password" class="control-label">Password:</label>
        <input id="password" type="password" name="password" class="form-control">
      </p>

      <p class="form-group">
        <label for="password_confirmation" class="control-label">Confirm password:</label>
        <input id="password_confirmation" type="password" name="password_confirmation" class="form-control">
      </p>

      <p class="form-group">
        <button class="btn btn-primary" type="submit">Change password</button>
      </p>

  </form>

  <p><a href="/login">Back to Log in</a></p>
</div>

<%= render('html_footer.html') %>
