<%= render('html_head.html', {
  title:       'Password reset',
  description: '',
}) %>

<div class="login-form container">
  <h1>Password reset</h1>

  <p>Enter the email address you signed up to PopIt with, and we’ll send you a link to reset your password.</p>

  <% if (errors.length) { %>
    <ul id="errors">
      <% _.each(errors, function(error) { %>
        <li class="error"><%- error %></li>
      <%}); %>
    </ul>
  <% } %>

  <form action="/password-reset" method="post">

      <p class="form-group">
        <label for="email" class="control-label"> Email:</label>
        <input id="email" type="text" name="email" class="form-control" value="<%- email %>">
      </p>

      <p class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </p>

  </form>

  <p><a href="/login">Back to log-in page</a></p>
</div>

<%= render('html_footer.html') %>
