<%= render(
  'html_head.html',
  {
    title:       'Register',
    description: '',
  }
) %>

<div class="login-form container">

  <h1>Register</h1>

  <% if (errors.length) { %>
    <ul id="errors">
      <% _.each(errors, function(error) { %>
        <li class="error"><%- error %></li>
      <%}); %>
    </ul>
  <% } %>

  <form action='/register' method='post'>

      <p class="form-group">
        <label for="name" class="control-label">Your name:</label>
        <input id="name" type="text" name="name" class="form-control" value="<%- userName %>">
      </p>

      <p class="form-group">
        <label for="email" class="control-label">Email:</label>
        <input id="email" type="text" name="email" class="form-control" value="<%- email %>">
      </p>

      <p class="form-group">
        <label for="password" class="control-label">Password:</label>
        <input id="password" type="password" name="password" class="form-control">
      </p>

      <p class="form-group">
        <button id="login" class="btn btn-primary" type="submit">Register</button>
      </p>

      <% if (isUpgrading) { %>
      <p>When you click <b>Register</b> your PopIt account will be associated with this instance and the legacy account will be removed.</p>
      <% } %>

  </form>

</div>


<%= render('html_footer.html' )%>
